[2017-09-28 21:07] pywebdesign opened #2 "first example does not seams to work."
hi, this tool looks very great. made by fellow Montrealers?

I was trying draggable with the simple implementation I could. when running it, I get the Draggable object defined, but ```<li>``` element are not draggable and, more importantly, I do not get any form of feedback like an error.

See sample implementation

https://github.com/pywebdesign/shopify-draggable-sample

Hope I didn't just miss s

[2017-09-28 21:50] tsov commented on #2
Hi 👋 thanks for posting some feedback! In my case from Ottawa actually 😄

I may know why this is the case, and I should probably update the README to make this clearer, but draggable will look for `.draggable-source` by default unless you define your own selector ([see the draggable options here](https://github.com/shopify/draggable#options)), e.g.

[code]

Please let me know if that fixes the iss

[2017-09-28 22:12] pywebdesign commented on #2
Hi, glad I can help!

So after changing it, I get.

```Uncaught TypeError: this.containers[Symbol.iterator] is not a function.```

I feel like there should be some distribution for current browsers or transpiling information on the readme.

I think babel preset:  presets: ["shopify/web"] is not the best option for external open source project.

[2017-09-29 04:11] TylerL-uxai opened #4 "Would this work with trello style lists?"
Here's an example of what I'm trying to make. Would you guys like to try building this in Shopify / draggable as an example maybe?

https://www.youtube.com/watch?v=K389QWUp4zo

https://codepen.io/TylerL-uxai/full/ZJqwXR/

[2017-09-29 08:45] marceloboeira opened #5 "Safari support?"
Very nice project, however, Does not seem to work on Safari.

I have opened the https://shopify.github.io/draggable/ link and nothing is draggable hehe.

Info:
[code]

[2017-09-29 10:15] alexgarces commented on #5
It works perfect for me on Safari version 10.0.1.

Just a minor visual bug on the box shadows of the last section (Animation). Also the sound is not supported (not WebAudio API compatibility).

[2017-09-29 12:22] tsov commented on #5
@marceloboeira unfortunately we forgot to turn off ForceTouch for the Landing Page, because it requires more visual guidance when applying pressure. Try to initiate a drag by force touching, and let me know if that worked

@alexgarces Yeah Safari doesn't have all the web audio api support we need, but maybe someday 🤞

[2017-09-29 13:47] tsov commented on #2
Draggable will be primarily targeting modern browsers by default, but the plan is to provide legacy/fully ES5 transpiled bundles that can be used for better browser support.

Furthermore we want to provide modules separately, so you can import only what you need from the library, e.g. `import { Sortable } from ‘@shopify/draggable/sortable’`

[2017-09-29 13:57] tsov commented on #4
👋 thanks for the suggestion

The landing page shows extreme use cases of the library, but it would work for standard lists too. The plan is to add some more example scenarios in an `examples` folder using draggable, sortable etc

[2017-09-29 14:19] TheJaredWilcurt opened #6 "Provide playground examples"
The README has code snippet examples, it should also include a link to a set up playground of that example for the user to try out with actual code.

Any of these sites should be fine:

* http://codesandbox.io
* http://jsfiddle.net
* http://codepen.io
* http://webpackbin.com

[2017-09-29 14:41] Mohamed3on opened #7 "Typo in website"
![image](https://user-images.githubusercontent.com/12295159/31021069-064a5e4c-a535-11e7-901b-1fe8743d0d65.png)
Should be too*.

[2017-09-29 15:47] sleewoo commented on #5
nice lib, thanks!
confirming soft touch does not work in Safari 11,
only force touch does

[2017-09-29 17:08] g105b opened #8 "Swappable element cloning bug"
When using the swappable example, it is possible to produce some unexpected behaviour. Check out the video for example:

https://drive.google.com/file/d/0B19eJag7Bq_FUDk3NGREdUZuSVE/view

+ Swap an element to container B and back to container A
+ Move the element through the container A
+ Container B's element magically updates to clone the last switched element within A

[2017-09-29 17:43] tsov commented on #5
@marceloboeira Hope that resolves your issue 👍

[2017-09-29 17:43] #5 closed

[2017-09-29 17:44] tsov commented on #2
@pywebdesign I hope the original issue is resolved with this, I will close for now and add more information on the readme as you mentioned

[2017-09-29 17:44] #2 closed

[2017-09-29 18:59] solomonhawk opened #9 "Specify Node Version(s) for Development"
To make it easier for people to contribute, I think it would be helpful to specify supported/required Node versions for working on the codebase. There are a variety of ways this can be specified...

`package.json` "engines" field: https://docs.npmjs.com/files/package.json#engines

Has the downside of being weakly enforced by default even when `"engineStrict": true` is present. [This SO answer](htt

[2017-09-29 19:01] solomonhawk opened #10 "Bug: Export Snappable/Collidable Behaviors"
Labeled this as a bug - hopefully that's correct.

Right now the documentation refers to `Snappable` and `Collidable` as exported constructors but the [index.js](https://github.com/Shopify/draggable/blob/master/src/index.js) does not export them. Consequently, attempting to `import` them from the package yields `undefined`.

I'm preparing a pull request for this now.

[2017-09-29 19:18] solomonhawk commented on #6
I was able to get some stuff set up on http://codesandbox.io/ real quickly. Are there some guidelines on what sort of examples we'd like to see? I can port over the ones from the README as a starting point but perhaps this issue could be a place to gather suggestions from the community about which sort of use cases would be valuable.

It's always difficult to strike a balance between thoroughness/

[2017-09-29 19:28] tsov commented on #9
Thank you for your feedback! This library is still brand new and currently in beta release, we are still working on the public roadmap.

Also still getting together a list of known issue to spare confusion, e.g. with Safari 11 and force touch, etc.

Adding a node dependency is planned, but there was no time yet 😛

[2017-09-29 19:33] #10 closed

[2017-09-29 20:04] #8 closed

[2017-09-29 20:06] tsov commented on #8
Thanks for your feedback! Should be fixe with https://github.com/Shopify/draggable/pull/12

[2017-09-29 20:13] green-arrow opened #13 "iOS 11 drag item gets stuck"
In the "Basics" section, I moved the green and purple box to the lower left hand set of blocks, then tried to move the red and purple block from the top just a little bit, and it got stuck on the page.

![ios_draggable](https://user-images.githubusercontent.com/2180127/31034228-2a3123bc-a531-11e7-9eee-e6d298b5e22f.gif)

[2017-09-29 20:19] tsov commented on #13
Yeah, unfortunately there are still some issues on touch, which will be resolved very soon! I have updated the README to add least mention it!

https://github.com/Shopify/draggable#known-issues

[2017-09-29 20:33] green-arrow commented on #13
Ah awesome! Thanks for such a quick response @tsov! Not sure how you want to handle this GH issue so I'll leave it open, but feel free to close it!

[2017-09-29 22:09] tfrommen opened #15 "Bug when swapping"
Hey there,

I found a bug when you drag one element over another to make them swap places. Thing is, when you move an element to another container/context, all of a sudden that element somehow becomes the target even when you move to another element. This results in an odd three-way swapping. Is this intended?

I made a GIF to illustrate that:

![draggable](https://user-images.githubusercontent.co

[2017-09-29 22:25] tsov commented on #15
It was not intended unfortunately. I [merged a fix earlier](https://github.com/Shopify/draggable/pull/12), but the site has not been updated yet though.

Thanks for the feedback! I will keep this open until the fix has been released on the site, as this is already a duplicate of https://github.com/Shopify/draggable/issues/8

[2017-09-29 23:26] Decagon opened #16 "Boxes get duplicated when dragging too fast"
On the homepage, I repeatedly dragged the purple box downwards very quickly and released my mouse. Eventually, this occurred

![capture](https://user-images.githubusercontent.com/7844441/31039436-0ada3b48-a554-11e7-941b-2c55e3a23aa7.PNG)

When in this state, some boxes that I dragged only had the black outline visible, and the entire box was transparent. When I released the box, sometimes it would

[2017-09-29 23:39] tempusrname opened #17 "When will draggable leave beta?"

[2017-09-30 00:18] tysjiangrul opened #18 "Can this be used with the Vue framework?"

[2017-09-30 01:53] TheJaredWilcurt commented on #6
My first thought when looking at the website demos was "cool, I just want to know if it can hand me back an array of the sorted items, so I can store them".

It would be nice to see examples with frameworks that use DOM diffing like Vue/React/Ember. To see how it interacts with them.

[2017-09-30 02:01] chris-morgan commented on #16
This effect happened to me all over the place without even trying on Firefox Nightly, Windows 10, Surface Book (using touch). Often even tapping on a thing would be enough to break it.

[2017-09-30 06:11] tfrommen commented on #15
Ah, yes. I looked through existing issues, but not closed ones. Sorry. 😅

[2017-09-30 07:03] nikoszoisse commented on #18
I believe that like every third library will work, even for react and angular.  This may helo https://www.reddit.com/r/vuejs/comments/664bpr/how_to_use_an_external_library_like_particlesjs/

[2017-09-30 07:26] brunolemos opened #21 "Not working on Safari"
When trying to drag, the object does not move. Worked on Chrome.

Safari 10.1.2
macOS 10.12.6
Macbook Pro 2016

[2017-09-30 12:44] timrourke opened #27 "Contributing: What docblock spec should be used?"
What specification should contributors target for docblocks? What is Shopify's styleguide for in-code documentation?

Would be excellent to include that information in the `Contributing` portion of the readme.

Thanks!

[2017-09-30 12:47] mcdado commented on #21
Same on Safari 11.0 (12604.1.38.1.7) or Technology Preview Release 40 (Safari 11.1, WebKit 12605.1.6.0.1) on macOS 10.12.6.

[2017-09-30 14:31] arguiot commented on #21
+1

[2017-09-30 15:45] justinthec commented on #16
I get this too on Chrome and Safari (both mobile).

Happens when I drag and drop outside of the target area too fast repeatedly

[2017-09-30 15:49] RyszardRzepa commented on #6
could it work with react native ?

[2017-09-30 16:47] nil0bject commented on #21
if you're using a trackpad on a MacBook, press a little harder 🤣
funny issue

[2017-09-30 17:26] brunolemos commented on #21
It's working for me now 🤔 Was there an update?
@mcdado Is it working for you?

[2017-09-30 17:26] #21 closed

[2017-09-30 18:10] mcdado commented on #21
Dragging and dropping works, not the audio… by the way i was using a mouse

[2017-09-30 20:07] timrourke opened #31 "Contributing: Separate unit tests from integration tests?"
I've started contributing to `draggable` mostly by writing unit tests. Hopefully my work so far has been helpful! 😄

As I add unit test coverage, it strikes me that there are good reasons to start separating out unit tests from integration tests that rely on simulating user input (eg. triggering mouse events), or incorporate interactions between multiple components of the library (eg. testing that

[2017-09-30 21:19] tsov commented on #18
Should definitely work with Vue.js, you will need the `v-once` attribute

https://vuejsdevelopers.com/2017/05/20/vue-js-safely-jquery-plugin/

[2017-09-30 21:19] #18 closed

[2017-09-30 21:20] tsov commented on #17
We want get better test coverage first and fix all the known issues, mainly the touch event issues

[2017-09-30 21:30] #17 closed

[2017-09-30 22:10] tsov commented on #6
Absolutely, here a link to the react docs: https://reactjs.org/docs/integrating-with-other-libraries.html

[2017-09-30 22:18] taspinar opened #33 "Effects are not limited to the tab"
When the sound is muted, the sound of videos playing in other tabs is also muted.

This can be seen when youre hovering over the block below "Interaction".

[2017-10-01 03:12] ghoshnirmalya opened #34 "Unable to use this with ReactJS"
I've the following html structure:

[code]

And in my `componentDidMount`, I'm doing:

[code]

However, I'm unable to drag any `.food` items and as a result, nothing is outputted on the console.

<img width="236" alt="screen shot 2017-10-01 at 8 40 01 am" src="https://user-images.githubusercontent.com/6391763/31051360-3baf78c4-a684-11e7-9d08-4e36ad5f0f9d.png">
As you can see that `.items__food` is

[2017-10-01 04:33] fighella commented on #34
Interested to see how to integrate with React - I had some strange behaviour with elements duplicating. :)

[2017-10-01 05:37] alexfedoseev commented on #34
I don't think you can do this (well, you can, but you shouldn't), b/c `react` is not aware of what `draggable` does to your DOM nodes so `react` is unable to compute valid DOM representation for the next render.

[2017-10-01 06:06] fighella commented on #34
I will park that idea for now then. =) ref: https://reactjs.org/docs/integrating-with-other-libraries.html

[2017-10-01 06:19] STenorio99 commented on #34
I just encountered the issue with `react` not being aware of the DOM manipulation `draggable` does. Since `draggable` does it on the fly while dragging, there's no way to cancel it (from what I can see) like you can with the alike jQuery UI Sortable and let React do it instead.

[2017-10-01 13:11] alexplusde commented on #16
![image](https://user-images.githubusercontent.com/3855487/31054802-c621e9ac-a6ba-11e7-88e8-1e8029a80649.png)

Windows 10, Chrome 61, drag and dropped with touch screen.

[2017-10-01 16:12] AndrewRayCode opened #35 "Easter egg puzzle is too hard"
The puzzle on the top of the homepage that - assumedly - when you solve - gives a great easter egg surprise, is too hard. Unlike the puzzles in the iOS game "klocki" you can't reason your way to a solution, you have to guess and check hundreds of combinations, because there are too many choices.

[2017-10-01 21:50] alscardoso opened #36 "Draggable is not a constructor"
Hi I'm trying to use Draggable from a CDN, but I'm constantly getting the same error:
[code]

Here is how I imported and called the function on my html file:

[code]

[2017-10-01 23:03] timrourke commented on #36
@alscardoso When using Draggable in the browser like that, you'll want to use the signature `new Draggable.Draggable()`.

[Here is an example on CodePen.](https://codepen.io/timothyrourke/pen/gGxXNr?editors=1010)

[2017-10-01 23:08] timrourke commented on #36
@alscardoso BTW, you make a good point, and I'm sure the team would be happy to consider a PR to their documentation to clarify that point for others. The example they shared is probably written making the assumption that most users would be consuming Draggable in an ES6 module context where the `Draggable` base class was imported, but other users are likely to bump their heads on that bit of ambi

[2017-10-02 00:56] alscardoso commented on #36
thanks @timrourke

Any idea why the list items are getting duplicated when I drag and try to swap across the list?
https://codepen.io/alscardoso/pen/eGEyyX?editors=1010

[2017-10-02 04:17] alscardoso opened #37 "Sortable"
I'm trying to achieve the same Sorting behavior as you demonstrate on the Sorting session in here (including animation and sound): https://shopify.github.io/draggable.

Here is my code:

[code]

[2017-10-02 06:56] og2t commented on #35
Don't think there's a prize but was too lazy to check. Is there?

[2017-10-02 10:33] Chrisstar56 opened #39 "Duplication in the "Collide" Demo"
I somehow managed to duplicate one of the draggable blocks in the "collide" demo. It now stays fixed in it's position (when scrolling as well) without any possibility of interacting with it. The original is still there and works fine.
![screenshot](https://user-images.githubusercontent.com/18631757/31073831-ed08ed28-a76d-11e7-80ae-623d8c0dcba0.png)

[2017-10-02 12:25] jdittrich commented on #34
I would love to have integration with MVVM-libraries, too.

[2017-10-02 13:57] t-kelly commented on #35
I solved it. I can now see why my grandparents warned me about this library. 🌶🔥

[2017-10-02 14:02] alexplusde commented on #39
This is literally a duplicate of #16

[2017-10-02 14:22] Chrisstar56 commented on #39
Didn't see that. Should I close mine?

[2017-10-02 14:22] #39 closed

[2017-10-02 15:47] nnodot commented on #16
In case it helps, I have the same issue with this [codepen example](https://codepen.io/timothyrourke/pen/gGxXNr) (which was provided in issue #36).

![draggable_bug](https://user-images.githubusercontent.com/6049293/31086218-84430810-a799-11e7-8b38-86f8b2dc2194.png)

Tested on Firefox and Chrome, both on desktop (Windows).

[2017-10-02 15:51] tsov opened #40 "Touch event issues duplicate elements"
### Problem

Currently touch events are freezing up due to the nature of `Sortable`, `Swappable` and `Droppable`. `Draggable` itself is not affected as it does not move the source/target element around while dragging.

[The spec](https://w3c.github.io/touch-events/) says that touch events (touchstart, touchmove, touchend/touchcancel) keep dispatching touch events on the original `TouchEvent.target

[2017-10-02 16:00] tsov commented on #36
Thank you for triaging @timrourke

@alscardoso I have just opened an issue formalizing the touch issues a little more: https://github.com/Shopify/draggable/issues/40

[2017-10-02 16:00] #36 closed

[2017-10-02 16:02] tsov commented on #37
Only use `new Draggable.Sortable()` if you want sorting behaviour. Also we should prevent attaching `Draggable`, `Sortable`, etc on the same containers, as this *will* mess up behaviour.

Let me know if that helped

[2017-10-02 16:15] tsov commented on #34
@ghoshnirmalya should definitely work with React. You would also need to override the `componentDidUpdate` to figure out if, e.g. children elements have changed, or you could see if a `sortable:sorted` has fired (implementation is up to you). Or you could also just `return false` within `componentDidUpdate` which tells react to never re-render.

There are plans on releasing a react component as a

[2017-10-02 16:18] tsov commented on #16
Can I confirm this is only on touch? Because this one of the known issues and I have created an official issue for tracking it: https://github.com/Shopify/draggable/issues/40

I will close this issue for now. Feel free to re-open this issue if this happened with mouse events too  👍

[2017-10-02 16:19] tsov commented on #13
Thanks again for reporting, I have created an official issue documenting this behaviour: https://github.com/Shopify/draggable/issues/40

I will close this issue for now

[2017-10-02 16:19] #13 closed

[2017-10-02 16:40] nnodot commented on #16
In my case it happens with mouse events.

[2017-10-02 18:05] Decagon commented on #16
My original issue occurred with mouse events on my laptop.

[2017-10-02 18:13] tsov commented on #16
Alright, could you guys provide some more information? E.g Operating System + version,  Browser + version.

I will start investigating then 👍

[2017-10-02 18:53] alexplusde commented on #16
@Decagon but is it a touch screen device?

[2017-10-02 20:33] nnodot commented on #16
I've just seen this issue happened with: "Chromium Version 61.0.3163.79 (Build officiel) Built on Ubuntu , running on Ubuntu 16.04 (64 bits)"

And at work it was on Windows 10 with Firefox developper and Google Chrome Canary. Sorry, I don't have access to exact versions now.

One more thougth: it seems to happen when I try to drag some element while some text is selected. See:

![draggable_bug](ht

[2017-10-02 23:12] crstffr opened #44 "Ability to select where the mirror is attached?"
Is it possible to chose where the mirror element will be attached?  Currently it appears like the mirror is appended to the body.  The style of my draggable element is lost once it is appended to the body, and duplicating the style structure for the mirrored element is less than ideal.

Thanks.

[2017-10-02 23:18] crstffr opened #45 "Source element does not move when using Sortable with Snappable"
When using Sortable with the Snappable plugin, my source element does not move.  As I continue to drag I can see the snapping/sorting working correctly, but since the source element doesn't move it's near impossible to use.

[code]

Any ideas?
Thanks.

[2017-10-03 00:14] crstffr opened #46 "TypeError: Cannot read property 'children' of null"
Using a basic implementation of Sortable, I get the following errors thrown continuously as I drag my element around the page.  Although it throws nonstop errors, the drag/drop/sort does function correctly.

![untitled](https://user-images.githubusercontent.com/44441/31104927-d986154a-a7a5-11e7-8164-4bc349abc732.gif)

### Environment
 - OSX 10.12.6
 - Chrome Version 61.0.3163.100 (Official Build)

[2017-10-03 00:47] crstffr commented on #46
Some investigation has found that the errors are not thrown when I do not specify my own handle.

[Draggable.js:36](https://github.com/Shopify/draggable/blob/fa5c063bc9f74c034b4246260e3f5f4984fbff0f/src/draggable.js#L306)
[code]

Specifying my own handler results in ```closestContainer()``` returning ```null```.

Will continue looking...

[2017-10-03 01:07] crstffr commented on #46
It appears like the closestContainer calculations are being done upon the mirror element, which is appended to the body.  Therefore the original container is not a parent of the element and the outerContainer value is null.

[2017-10-03 01:31] crstffr commented on #46
In absense of an actual fix, I'm just wrapping the offending code in a try/catch.  😐

[2017-10-03 13:52] cheri1977 commented on #34
Awesome

[2017-10-03 14:34] tsov commented on #44
Thank you for your question. There is an option `appendTo` that takes a string for css selectors, a HTMLElement or a function that returns an element. You can find the implementation here: https://github.com/Shopify/draggable/blob/master/src/draggable.js#L451-L463

The option is currently not documented on the README, so I will do a quick update 👍

[2017-10-03 14:37] tsov commented on #45
Hey, thanks for reporting, this seems to be a bug! Including `Snappable` removes the mirror core plugin which is responsible for creating and maintaining the mirror.

I will push a fix for this today

[2017-10-03 15:01] iamjolly opened #48 "Keyboard accessibility"
The examples need to have draggable elements that are focusable and actionable by the keyboard (some people cannot use a mouse!).

[2017-10-03 17:12] renatoi commented on #48
Either remove statements that the solution is accessible or actually make it accessible.

[2017-10-03 17:20] drewlee commented on #48
Please don't make the claim that this library is accessible. This claim is quite misleading, as there are more than a handful of factors that make an experience truly accessible (keyboard support is just one of them). ARIA alone isn't a panacea, and I'm not sure how it would help in this case since drag and drop related attributes have been deprecated from the WAI-ARIA spec.

[2017-10-03 17:28] crstffr commented on #44
Thank you for getting back to me.  The ```appendTo``` option does just the trick.

As an aside, when I append the mirror as a sibling to the source element, it acts as a workaround for issue #46 (since the closestContainer can be correctly calculated).

[2017-10-03 17:30] #44 closed

[2017-10-03 19:52] herrbischoff commented on #18
Could you please provide a minimal working example? For some reason I am not able to get this to work and am stuck.

[2017-10-03 20:51] robert-wallis commented on #16
Same bug on iOS 11.0.1 iPhone 8+
![shopify-draggable-too-fast.mov](https://s3.amazonaws.com/x01/bug-reports/shopify-draggable-too-fast.mov)

[2017-10-03 20:55] robert-wallis commented on #40
Same bug on iOS 11.0.1 iPhone 8+
https://s3.amazonaws.com/x01/bug-reports/shopify-draggable-too-fast.mov (11mb)

[2017-10-03 21:02] tsov commented on #44
Added the option to the README: https://github.com/Shopify/draggable/commit/6ec86ce0c29ab3bc48d1466ba5349cbd3d052da9

[2017-10-03 21:07] #40 closed

[2017-10-03 21:12] #37 closed

[2017-10-04 12:15] alfredbez commented on #35
[No easter egg for me...](https://user-images.githubusercontent.com/1001186/31175084-48bb5a74-a90e-11e7-906f-cb0c0aabedce.png)

[2017-10-04 13:21] MarievanB commented on #7
<img width="875" alt="screen shot 2017-10-04 at 15 19 00" src="https://user-images.githubusercontent.com/26257741/31177892-9a42f556-a917-11e7-9884-86246a1bbeae.png">
Should be "it's" with an apostrophe.

[2017-10-04 13:38] svinkle opened #50 "Local setup guide"
Hi! I'm looking to send in some issues and PRs regarding accessibility, but before I do that I need to know how to set things up locally!

I have the project forked and cloned, and I'm running a local Python http server on the `gh-pages` branch, as that branch includes the `index.html` file.

My question is, when I make a change do I need to run `npm run build` after each save in order to see my c

[2017-10-04 17:15] victornpb commented on #35
didn't work for me either.
![screen shot 2017-10-04 at 2 12 27 pm](https://user-images.githubusercontent.com/3372598/31189347-59025e00-a90e-11e7-905b-5f97ddb9156c.png)
  I don't think there's any other possible combination.

[2017-10-04 17:23] victornpb opened #51 "tile got stuck while trying to solve puzzle"
I don't know how to reproduce the issue, but it seems that there's some hole in the state.
I don't know the architecture of the library to point, but probably the library expects some chain of events to fire, and maybe that event did not fire in the chain expected or something like that.
I'm reporting just to let you know that not all scenarios are covered.

![screen shot 2017-10-04 at 1 03 04 pm]

[2017-10-05 08:56] welsby commented on #48
I can just about scroll the page without a mouse, but that is it.

[2017-10-05 15:23] mikeyil commented on #48
I'm trying to figure out what they mean by accessible on the claim they've made.

[2017-10-05 20:46] keyvhinng commented on #6
At least, it would be nice to show the index.html file for each example

[2017-10-05 21:16] beefchimi commented on #7
Thank you both! I have updated this in a working branch for the site - will hopefully update production over the weekend :)

Will leave open until the live site has been updated.

[2017-10-05 21:18] beefchimi commented on #15
Hoping to update the site over the weekend :)

[2017-10-06 08:39] abderrahmane-tj opened #53 "Webstite too beautiful"
Hello,

I have never seen a tech product's website that's more beautiful than draggable !

The colors are too good.

The examples are too cool.

The custom cursor is too gorgeous I wish I had it on windows.

The design is too original.

The barre you set is too high !!

[2017-10-06 09:29] unsafecode opened #54 "[Feature Request] Angular 4+ wrapper"
It would be nice to provide an Angular 4+ library wrapper for this awesome library.

[2017-10-06 13:42] beefchimi commented on #53
Haha. Thank you very much @abderrahmane-tj 😆 The feedback is always appreciated.

Since the only actionable item here would be _setting the bar lower_, I'm going to go ahead and close this issue – BUT, please feel free to open even more issues with even more compliments in the future. I'm happy to read each and every one.

❤️ 😄 ❤️

Glad you enjoyed the site!

[2017-10-06 13:42] #53 closed

[2017-10-06 13:43] beefchimi commented on #35
I'm going to be investigating the puzzle over the weekend, figure out if anything weird is going on and make sure its functioning correctly. Apologies to anyone who has got stuck!

[2017-10-06 14:42] milanholy83 opened #55 "[Feature Request] Source code for example gh-page"
can you share source code for example gh-page?

[2017-10-06 18:10] Jeremy-Knudsen commented on #51
This happens to me too.

[2017-10-06 19:30] beefchimi commented on #55
I will be working on some Codepen examples and adding them to the repo. Not sure when I will get around to that however 😢

Will keep this issue open until then.

[2017-10-06 19:48] jeremyputeaux commented on #16
Same thing happened to me on MacOS, Chrome Canary using mouse events.
I agree with nnodot, it happens when text is selected when dragging.

[2017-10-07 03:45] then31 commented on #35
:)
![untitled-1](https://user-images.githubusercontent.com/4698838/31304499-46a98e8e-aaf0-11e7-93aa-98cee9682d91.jpg)

[2017-10-07 16:48] aut0poietic commented on #48
I found the lack of keyboard support pretty disappointing as well -- I got very excited when I initially read it.

@drewlee I've been struggling with this in my own DnD library. Both `aria-dropeffect` and `aria-grabbed` exist in ARIA 1.1 (which is still only a candidate recommendation). The spec says they _intend_ to replace them in a future ARIA version and to treat them as deprecated. But for no

[2017-10-07 21:48] beefchimi commented on #35
Spoilers!

[2017-10-07 22:05] pacMakaveli commented on #51
Same here. If it helps, it only happens when the I drop the draggable item in the same ( or very close ) location as the original position.
<img width="166" alt="screen shot 2017-10-07 at 11 04 36 pm" src="https://user-images.githubusercontent.com/894272/31312176-fe786224-abb3-11e7-8e92-4ffa023f67fe.png">

[2017-10-07 23:22] then31 commented on #35
Sorry

[2017-10-07 23:23] beefchimi commented on #35
haha @then31 its all good. If I was really bothered I'd have just edited your comment 😆

[2017-10-08 12:56] pacMakaveli commented on #51
Turns out the fix is pretty simple, but not very applicable in every case. Adding `draggable: false` to the `img` element stops the image from creating the `native` ghost image element when dragging it and allows `draggable` to perform well. It also speeds up movement and performance quite a lot.
However, if `draggable.native` is set to `true`, the `mirror` of the `img` element is not created anym

[2017-10-08 15:17] hadifarnoud commented on #34
We are working on React html editor, making it easy to use this library would make our editor a lot more awesome!

[2017-10-09 02:56] Decagon commented on #16
@alexplusde Nah, it's just an old MacBook Pro running Windows, so no touchscreen.

My operating system is Windows 10 (up to date as of October 8th, 2017) and I'm running Google Chrome 61.0.3163.100 (Official Build) (64-bit) (cohort: Stable).

[2017-10-09 18:57] tsov commented on #45
@crstffr This should be fixed with https://github.com/Shopify/draggable/commit/8eae84c07c01153e5f6552391aaae3e4c354f5df

The commit is currently part of the `v1.0.0-beta.2` branch, but will be merged into maste once we release the next beta version

[2017-10-09 19:04] tsov commented on #16
The touch issues are fixed on the `v1.0.0-beta.2` branch. I will close this issue once we release `beta.2`

@nnodot This may actually be a different error, which should also be fixed with the beta.2 branch. Here the commit that fixed the text selection issue: https://github.com/Shopify/draggable/commit/08ab17b8c360243800b68c127be90963a3c757e2

It's a temporary change, but should fix the current is

[2017-10-09 19:08] tsov commented on #48
Sorry for the late reply, the plan was always to have accessibility support right out of the box, but we did not have time to add support before the initial beta release, nor did we realize how much impact this project would have.

We also mentioned, in the Interaction section of the website, that keyboard support is coming soon. ;)

The next beta release will contain a handful of performance impr

[2017-10-09 20:31] AdamGaskins opened #56 "Does draggable support nested dropzones?"
E.G. I have a drop zone as one of the elements in a drop zone, and its siblings should be able to be dragged beside it or inside it. Is this possible currently? I would have an arbitrary number of levels of nesting.

[2017-10-09 20:57] AtmoEntity opened #57 "How to access plugins in browser?"
Here is an example:

https://jsfiddle.net/gnvpywuz/1/

I've tried the following:

    plugins: [Accessibility]
    plugins: ['Accessibility']
    plugins: [Draggable.Accessibility]

[2017-10-09 22:14] tsov commented on #56
I am guessing you mean for `Sortable`, `Droppable` or `Swappable`, right? `Draggable` itself does not move elements in the DOM, it makes things draggable only. Currently nesting is not supported for any of the mentioned modules, but we are planning to build a `NestedSortable` module, or extending the existing `Sortable` module to accommodate nested levels.

I hope that answers your question? Let m

[2017-10-09 22:25] tsov commented on #57
The `Accessibility` module should be included by default, but is currently broken in the current beta release. There will be a fix available soon once we release `v1.0.0-beta.2`. Both `Mirror` and `Accessibility` plugin are included by default within draggable.

If you want to use `Snappable` or `Collidable`, you'd need to do

[code]

There is another bug in the current beta that overrides the cor

[2017-10-09 22:33] tsov commented on #51
@pacMakaveli 👋 interesting use case with `img` tags, this may be a problem we need to address within the `MouseSensor`, e.g. Canceling any potential real dragstart events on draggable elements. But it may also get fixed by adding a `user-select: none;` on `drag:start` on the `document.body` and remove it on `drag:stop`?

We added a patch for this issue in the next beta branch (`v1.0.0-beta.2`), so

[2017-10-09 23:37] tsov commented on #50
@svinkle Thank you for your question!

The local setup is pretty minimal at the moment, we haven't had a chance to build a local playground for testing code changes. This is definitely on our list and will be addressed! If you want to watch for code changes you can use `webpack --watch` or `./node_modules/.bin/webpack --watch`.

In terms of accessibility, we are currently working on an out of the

[2017-10-10 00:02] tsov commented on #31
Thank you for your contributions! We have been working on a bunch of improvements in the `v1.0.0-beta.2` branch, including a new folder structure. They address some critical bugs we wanted to get out of the way first.

The new folder restructure looks something like:

[code]

Have a look here: https://github.com/Shopify/draggable/tree/v1.0.0-beta.2/src

I would be happy to accept & merge your PRs

[2017-10-10 02:48] svinkle commented on #50
@tsov I see that webpack builds the `lib/draggable.js` file, but the included `index.html` calls the `assets/js/app.js` file. I don't see any configuration that builds the `app.js` file?

For accessibility issues, I'll keep watch on #48 but may create some specific issues of my own, if I get this up and running locally. :)

[2017-10-10 07:14] pacMakaveli commented on #51
@tsov 👋  I already have `user-select: none` on my `draggable` elements to avoid selecting the text on page when dragging.
For me, `draggable: false` is the fix and it doesn't have any drawbacks since I don't use native. I'll give the beta try and let you know if there is any difference though!

[2017-10-10 13:25] pSchaub opened #58 "Support for Internet Explorer 11"
Currently the demo page is not working on IE11. Will this library get support for IE11 in the future?

[2017-10-10 15:17] imaginarny commented on #56
That's great to hear, but do you have any milestone set for that? Or what is the priority of this feature? I would also appreciate it in the very near future! :)

[2017-10-10 19:27] beefchimi opened #60 "Mac OS X: control + click causes bugs"
I believe `beta2` solves `right-click` issues... but the same will need to be done for `control + click`, which is a Mac OS X keycombo for `right-click`.

[2017-10-10 21:27] ddemaree opened #61 "Sorting elements causes text highlight on macOS Chrome"
I'm trying to set up a `Sortable` with HTML that looks like this:

[code]

Here is how I'm setting up the `Sortable`:

[code]

Sorting works, but after I mouse down, the browser acts like I am selecting text, as you can see in this lovely GIF:

![2017-10-10 17_21_09](https://user-images.githubusercontent.com/965/31411379-70372ed6-addf-11e7-90af-6a0ea2bd0e83.gif)

(Note that I'm using the CSS `curs

[2017-10-10 21:29] ddemaree opened #62 "Publish source code for project homepage?"
It looks like the `index.html` and other assets in the `gh-pages` branch are minified/built files, generated from some other source. In the absence of an official set of examples, it'd be great to be able to view source for the home page as a live example of how Draggable works.

[2017-10-10 21:29] tsov commented on #61
It's currently a bug and will be fixed with the next beta release of draggable. You can see the fix here: https://github.com/Shopify/draggable/commit/08ab17b8c360243800b68c127be90963a3c757e2

Will keep this open until we release `v1.0.0-beta.2`

Hope this helped

[2017-10-11 00:16] tsov commented on #15
@tfrommen We just released `v1.0.0-beta.2` and this bug should be fixed on the site now too 👍 thanks again for reporting!

[2017-10-11 00:16] #15 closed

[2017-10-11 00:17] tsov commented on #16
We just released a new beta (`v1.0.0-beta.2`), which should address most of the issues reported here. Please comment or re-open if issues persist

[2017-10-11 00:17] #16 closed

[2017-10-11 00:19] tsov commented on #45
Thanks again for your bug report 👍 This should be fixed in the newest release

[2017-10-11 00:19] #45 closed

[2017-10-11 00:20] tsov commented on #46
Re-open or comment if the issue persists with the newest release

[2017-10-11 00:20] #46 closed

[2017-10-11 00:21] tsov commented on #57
These issues have been fixed in the newest release, thank you for your question

[2017-10-11 00:21] #57 closed

[2017-10-11 00:23] tsov commented on #51
Thanks for reporting guys 👍 our newest release should address most of your feedback, but if any bugs persist, comment or re-open

[2017-10-11 00:23] #51 closed

[2017-10-11 00:25] tsov commented on #51
@pacMakaveli oh and you won't need to set `draggable=false` anymore, drag events are now prevented by the mouse sensor

[2017-10-11 00:26] tsov commented on #61
Thanks for reporting 👍 the new release addresses this issue and automatically prevents text selection now.

[2017-10-11 00:26] #61 closed

[2017-10-11 00:27] tsov commented on #60
👍 Fixed with: https://github.com/Shopify/draggable/commit/48a1828dff13563b8f904d474e7477169bfd3ac8

[2017-10-11 00:27] #60 closed

[2017-10-11 00:37] tsov commented on #58
This library will primarily target modern browsers, however there will be a "legacy" bundle which will support IE11 at least. We are planning to have the support in place by the time we release our first stable version.

[2017-10-11 03:14] tempusrname commented on #58
Is there an ETA for when that might be?

[2017-10-11 03:43] beefchimi commented on #50
@svinkle I keep all of the source files for the site in a separate, private repo. I'm hoping to throw some barebones examples together to be hosted in this repo. I think it will be a lot easier for folks to experiment with the library without all the additional code for the site _(although admittedly its currently impossible when I don't provide any examples...)_

By the time we do a stable releas

[2017-10-11 03:44] beefchimi commented on #7
These should now be fixed 😄 Thanks everyone!

[2017-10-11 03:44] #7 closed

[2017-10-11 03:45] beefchimi commented on #6
Sorry for the delay everyone - I will be working on some barebones examples to add to this repo as soon as I get the chance.

[2017-10-11 03:47] beefchimi commented on #33
Interesting - any chance you could provide more details? I have not been able to recreate this.

[2017-10-11 03:48] #35 closed

[2017-10-11 03:51] beefchimi commented on #62
I am hoping to get some examples in by the time we do our first stable release. Apologies for the delay! Code is pretty straight forward - here is an example of the Collidable section:

[code]

[2017-10-11 09:28] pie6k commented on #34
Do you have any, even very basic and simple example of React component using it?

[2017-10-11 10:01] pie6k opened #64 "How to allow dragging only horizontally (x axis)"
Is it possible to only allow draggable element to be moved only horizontally?

[2017-10-11 10:49] f15gdsy opened #65 "How to add animations for Sortable?"
Hi, you guys has done some awesome work!

I'm wondering if draggable has internal support for Sortable animation, for example:
http://rubaxa.github.io/Sortable/

[2017-10-11 13:52] beefchimi commented on #65
@f15gdsy you can definitely use CSS animations to achieve that exact example.

When we first release the beta, it was VERY easy - as we are reordering the DOM as you move around, and the only appended item was the `mirror`, which got added to the end of the container.

Things are a tiny bit trickier now, as in order to solve bugs for `touch` devices, we need to have 1 additional element added to t

[2017-10-11 21:35] hadifarnoud commented on #34
We do not. that was supposed to be a motivational comment to add react support/docs soon

[2017-10-12 05:22] snalld commented on #64
I'd love to know as well!

I tried making a plugin that's a direct clone of Mirror but with the y-axis transform turned off. The good news is the plugin registered fine (I was able to log to the console from Mirror's various internal events), but nothing I changed had any effect on the actual mirror element... Thoughts?

Thanks in advance

[2017-10-12 06:13] f15gdsy opened #66 "Parameter in sortable:sorted Event does not have the correct indexes"
Parameter in sortable:sorted event callback has the following data structure
[code]

The oldIndex and newIndex are inconsistent depending on the source element's original order in the list.
[Calculation of the indexes should consider the cloned source element](https://github.com/Shopify/draggable/blob/1b7e5c33c7f9f058b56726768e34f5e468194ca9/src/Sortable/Sortable.js#L111), because before dragging,

[2017-10-12 10:44] taspinar commented on #33
I am using Windows 7 (64 bit), and google chrome v 61.
In one tab I have a youtube video playing.
In the second tab I am scrolling down on https://shopify.github.io/draggable/. Whenever I scroll over the block under "Interaction", the sound in the youtube tab gets muted.
The volume level in the video does not change, the sound just gets muted. And it does not return when refreshing the tab..

[2017-10-12 14:32] tsov commented on #66
Thanks for reporting, yes this has been broken since we fixed the `touch` issues. This will be fixed for the next release. I'll let you know once the fix is in 👍

We want to have full test coverage for the first stable release, so this won't happen again

[2017-10-12 14:35] tsov commented on #65
Hmm, we should provide an optional plugin (like Snappable, Collidable), that does a swap animation when included. But as @beefchimi mentioned, this can also be done with a CSS only solution.

[2017-10-12 14:42] beefchimi commented on #65
Sure - I can see this being useful for something like a stacked list that isn't absolutely positioned.

By swapping items, there would be no CSS `transition` you can apply, as the layout is natural and not positioned.

Way back when we first started draggable, I believe we already had something that grabbed the position of both elements and applied inline `transform` styles, allowing them to anima

[2017-10-12 14:53] tsov commented on #65
@beefchimi yes, exactly that one. It would work something like this (not tested) with sortable:

[code]

The plugin would be a more sophisticated than the example code above ^

[2017-10-12 14:55] beefchimi commented on #65
Amazing 😄  Did you want to take this on or see if someone from the community wants to give it a stab 😉

[2017-10-12 14:58] tsov commented on #65
I will add it to the `v1.0.0-beta.3` milestone later today. If someone gets to it before me then 👌

[2017-10-12 15:14] tsov commented on #64
Thank you for your question, definitely something we want to support 👍

I added support for the next release `v1.0.0-beta.3`, for now you can test it on the beta branch, or check out the changes I made to the mirror plugin: https://github.com/Shopify/draggable/commit/9a9a129df9ce9f9bb73106a5335492adf60a9c21

@snalld Nice! You would need detach the default mirror plugin and attach your custom mirro

[2017-10-12 19:41] rickghome opened #67 "Sortable start event not firing (chrome 61.0.31)"
Following the Sortable example from docs, Sortable:start event is not firing. Instead, the drag start event is firing. That's fine, but should be documented.

[2017-10-12 20:19] tsov commented on #67
Can confirm this is a bug: https://github.com/Shopify/draggable/blob/master/src/Sortable/Sortable.js#L52 should be `this.draggable.triggerEvent(sortableStartEvent);`

I will fix it later unless you want to propose a fix via PR.
Thanks for reporting

[2017-10-12 20:39] tsov commented on #67
@rickghome oh and all draggable events are also fired for `Swappable`, `Sortable` and `Draggable`. Should be made clearer in the docs, agreed

[2017-10-12 22:04] rickghome opened #68 "Drag events supersede click events"
Bug, documentation issue, user error?

I have an element that may become 'active' if clicked by the user.  I also want to allow that element to be draggable. Currently, it seems that drag events are superseding click events (and in this case, impedes them, regardless of binding order).  It's essential to my user experience that click events precede drag events. I'm guessing this isn't an edge-case

[2017-10-13 10:40] jefflam commented on #34
While we're at it, what about other frameworks such as VueJS?

[2017-10-13 11:26] ghoshnirmalya commented on #34
@jefflam https://github.com/Shopify/draggable/issues/18.

[2017-10-13 14:34] tsov commented on #67
Thanks again for the feedback! I've made some improvements to `Sortable` and the start event will now fire: https://github.com/Shopify/draggable/commit/90e0b4c098c6410513efe845688fb896d19e0102#diff-ba3a1f3b94fb49ee9665e3e31c7d6a84R62

This commit will be part of the `v1.0.0-beta.3` release

[2017-10-13 14:36] tsov commented on #66
Fix will be out for the next beta release, here the commit: https://github.com/Shopify/draggable/commit/90e0b4c098c6410513efe845688fb896d19e0102

It will now ignore the `originalSource` and a `mirror` when computing the `index`

[2017-10-13 14:40] tsov commented on #65
👋 @f15gdsy we are now going to include an opt-in plugin `SwapAnimation` (name may still change), that does a swap animation out of the box, for the next beta release.

It currently works only with `Sortable`, but will be extended to support `Droppable` and `Swappable` too

Have a look at the commit to see the source code that powers it, as well as a small README that explains how to use it: https:

[2017-10-13 14:46] tsov commented on #68
I can reproduce. You could use the `delay` option to delay the drag action (for now). It works for `Draggable`, `Sortable`, `Swappable` and `Droppable`.

[code]

This is not ideal nor obvious. Will look for a better solution 👍 thanks for reporting

[2017-10-14 16:21] bondz commented on #34
React support would be awesome.

[2017-10-14 16:27] beefchimi opened #69 "Incorrect README Contribution link"
`contribution` vs `contributing`

[2017-10-15 07:18] imben1109 opened #71 "Not Working on Sortable"
I am trying to write a Hello World Example on Draggable. However, my example do not work. The bellow is my source codes.

**index.html**
[code]

**app.js**
[code]

[2017-10-17 23:19] heyitsjhu commented on #58
This may be related. I'm getting the following error in Microsoft Edge:

[code]
Is anyone aware of this error and/or if the legacy bundle will resolved this?

[2017-10-18 01:14] bterlson commented on #71
See #67.

[2017-10-18 04:40] c2johnny commented on #71
I guess the README example is outdated. Draggable items are only recognised by specifying class="draggable"
[code]
or you may specify 'li" as the draggable query selector in the options field upon creating the Sortable object:
[code]

[2017-10-18 05:39] snalld commented on #64
@tsov Nice to know I'm not going mad haha

It'd be great to see that detach API included asap!

[2017-10-18 13:22] AStoker opened #72 "[Bug] Empty catch block throws warnings"
Trying to get a basic drag and drop setup working with custom elements. My setup looks like this:
[code]
When I click and try to drag the element, I get these warnings thrown in the console (and no drag and drop behavior):
[code]
Looking at where it's throwing, it seems based on this empty catch block (https://github.com/Shopify/draggable/blob/23a7f3ae15ff68c5695d482da20f367ca52984f8/src/Draggable

[2017-10-18 13:29] #69 closed

[2017-10-18 14:31] AStoker commented on #58
@heyitsjhu, you have the code on that line that's failing? It looks like it's trying to call `ToString`, but typically that kind of function is camel case like `toString`...

[2017-10-18 15:53] heyitsjhu commented on #58
Thanks for the quick response @AStoker.

Unfortunately, Edge is only providing me with the line number to the line of code in draggable that's throwing the error. I've tried the same code in Chrome and Safari, where it executes without issues.

I also thought the `ToString` part was weird but I'm not defining or calling that anywhere in the code that I'm writing (the three lines in my post above).

[2017-10-18 18:47] md5 opened #73 "Fire drag:stop event after mirror is cleaned up"
I recently upgraded an application from 1.0.0-beta to 1.0.0-beta.2 and noticed a change in behavior. Specifically, it looks like the `drag:stop` event is now fired before the mirror element is cleaned up. Our code was written to fire on `sortable:stop` and traverse the target container to check for the new order of its child elements. After upgrading to 1.0.0-beta.2, we now see both the original e

[2017-10-18 19:31] md5 commented on #58
@heyitsjhu I ran into the same issue you're seeing in IE 11 with `Object.assign`. I was able to get a basic example with `Sortable` working by adding [`babel-polyfill`](https://babeljs.io/docs/usage/polyfill/).

[2017-10-18 19:37] tsov commented on #72
@AStoker thanks for your feedback! The empty `catch` in the mirror implementation will be addressed soon, the plan is to clean up the mirror (remove from DOM) if an error occurs. I will add it to the `v1.0.0-beta.3` release 👍

I will keep this issue open until we release the next beta

[2017-10-18 19:46] tsov commented on #73
@md5 thanks for you feedback! AFAICT the event order has not changed since the first beta release, but instead we had to change some `Draggable` behaviour to fix some touch related issues. This required us to add an additional clone of the source, which gets appended to the source container on drag start, and removed on drag stop. This probably caused some issues for you in the update.

Also I nee

[2017-10-18 19:49] tsov commented on #71
@c2johnny thank you for providing an answer 👍

We are planning on structuring the docs better, so this becomes more obvious!

@imben1109 I hope @c2johnny s answer cleared things up for you, otherwise feel free to re-open the issue

[2017-10-18 19:49] #71 closed

[2017-10-18 20:36] AStoker commented on #58
@heyitsjhu, `Object.assign` is part of the ES6 syntax which isn't supported by IE11, womp womp 😢
You got a reproducible gist we can look at?

[2017-10-18 20:44] jabbermarky opened #74 "is this a good(-enough) replacement for jquery-ui sortable?"
I'm currently using jquery-ui sortable. it doesn't work well on a mobile device. I'd like to find a good replacement. how well would this replace jquery-ui sortable? Specifically, I'd like to know if your library supports dragging nodes from one list to another, or as another poster asked, can I build Trello with this?

[2017-10-18 21:43] tsov commented on #58
Thanks for the bug report 👍 We definitely want to fully support Edge (I _may_ regret this statement 😆 ).

@heyitsjhu Could you state which Edge version you were using? That way I'll try and reproduce, so we can get a fix out for the next beta.

For the IE11 issue with `Object.assign`, we will change to use spread syntax [here](https://github.com/Shopify/draggable/blob/master/src/Draggable/Draggabl

[2017-10-18 22:09] heyitsjhu commented on #58
Thanks all!

Yep, turns out the assign() error was resolved with a babel-polyfill script, so everything works fine on IE11 now.

As for Edge, I think it's worth noting that with the polyfill script, I no longer get an error message running the code. However, I am still having issues dragging and dropping rows from a table with touch, but that might be another issue. _Yay polyfills!_

I'm testing t

[2017-10-18 22:19] heyitsjhu commented on #58
@AStoker will a jsfiddle link work? http://jsfiddle.net/pjofjg1h/2/

If you open this in Edge, and I'm pretty sure in IE11 too, and then inspect, you should see the error in the console. I hope this helps you guys!

[2017-10-19 21:10] heyitsjhu opened #75 "IE11 and Edge dragging item scrolls container/page when it's scrollable"
I'm encountering what I think is unexpected behavior in **IE11 (11.576.14393.0)** and **Microsoft Edge (38.14393.0.0)** on mobile. I know full compatibility with IE11 and Microsoft Edge is still in the works, but I thought I'd share my findings so that if there is a fix, it can hopefully be incorporated in the first stable release. :)

In order for Draggable to work in IE11 and Edge, I'm using the

[2017-10-20 16:19] rafaeleyng commented on #6
@solomonhawk

Could you provide the link to the stuff you set up?

[2017-10-22 05:01] jefflam commented on #18
I'm also running into issues trying to get draggable to work on my vue app. I'm initializing the Droppable or Sortable on an array of container(s) in the mounted() method of the component and unfortunately the dragging still does not seem to work...any sample code would be great!

[2017-10-24 14:44] rbarysas commented on #68
I have the same issue.

Adding delay helps with clicking, but if I try to drag without waiting a bit, I get strange "ghosting" effect, where mirror element gets stuck to the cursor and does not disappear.

Here's gif: https://i.imgur.com/b0zwVkk.gifv

[2017-10-25 20:35] AStoker commented on #58
@heyitsjhu ( @tsov, you might want to know this as well ) , it's breaking on Edge for me based off an iterable error.
When you call document.querySelectorAll('.ui-grid-canvas'), this returns a [NodeList](https://developer.mozilla.org/en-US/docs/Web/API/NodeList). Normally, this should be iterable (even though it's not an array), however, Edge and IE don't support an iterable node list. See below:

[2017-10-25 20:44] AStoker commented on #58
If a PR would help, I can make one. But it seems pretty trivial to solve (and easy enough to work around until then)

[2017-10-26 00:13] madebyaaron opened #77 "Multi-select support?"
Hi guys, fantastic work. I'm really loving this package.

Do you have any plans to add in functionality to select multiple draggable elements?

It'd be really neat if multiple items could be cloned and follow the cursor onDrag

[2017-10-26 07:11] jefflam commented on #6
Been trying to get it working on a codebin but can't seem to get it to work. Would love to see a demo/sample project as well. Thanks in advance!

[2017-10-26 14:18] beefchimi commented on #6
@jefflam if you send me a codebin link i might be able to help get it working. Its going to be another while before I can get `examples` into the repo

[2017-10-26 14:35] tsov commented on #68
@rbarysas yes, this seems to be an issue with the current mouse sensor, it needs to prevent native drag elements (images and links) if the `delay` is bigger.

This is fixed with a general sensor refactor for the upcoming `v1.0.0-beta.3` release, commit is here: https://github.com/Shopify/draggable/commit/7432c9ac2ac4920a4a33600c3968825b256943cb

I will leave this open until we release the new beta

[2017-10-26 14:40] rbarysas commented on #68
This is awesome. Thanks for the work! 👏

[2017-10-26 14:48] tsov commented on #77
@madebyaaron thanks!

Interesting idea! How would you see this work?

I had a similar idea for multi-touch support, i.e. ability to pick up multiple draggables with multiple fingers. But this would be something to look at after releasing the first stable build.

[2017-10-26 14:57] tsov commented on #74
@jabbermarky thanks for your question! Yes, this library is supposed to give you everything you need out of the box without any other dependencies. The API will be different to jQuery UI Sortable, but you should be able to achieve the same DnD functionality, if not more.

Absolutely!

We are currently in `beta.2`, but by the time we release our first stable package we will have plenty of examples

[2017-10-26 15:00] tsov commented on #72
@AStoker The fix made it into [`v1.0.0-beta.3`](https://github.com/Shopify/draggable/commits/v1.0.0-beta.3) via https://github.com/Shopify/draggable/commit/0286a2da731ab4772aac4720a48d1258bb822596

Let's wait for the `beta.3` release before closing this issue

[2017-10-26 15:11] tsov commented on #58
@AStoker thanks for explaining the issue 👍 should help anyone who is currently facing this issue!

We are aware of the `NodeList` issues in IE, but haven't had the time to address it yet.

🙏 would be greatly appreciated! You can point to the `v1.0.0-beta.3` branch

[2017-10-26 17:31] md5 commented on #56
I think I have a question along the same lines. We have a UI that looks like this:

What we would like is to have all options be draggable, but for dropping and sorting to only occur in the top portion. I *think* we could achieve this if `this.draggable` in our `Sortable` instance was actually a `Droppable`. Then we could configure a `droppables` selector to only allow the top options to be droppa

[2017-10-26 17:46] md5 opened #78 "Extend Sortable from Droppable"
I left a comment on #56, but I realized it was out of place there and that it might make sense to open a new issue.

We have a UI that looks like this:

What we would like is to have all options be draggable, but for dropping and sorting to only occur in the top portion.

Looking at the 1.0.0-beta.3 branch, it looks like this would have to be done by moving `Sortable` to extend `Droppable` instead

[2017-10-27 05:19] jefflam commented on #6
@beefchimi Here's just a simple attempt at trying to get Draggable working:

http://jsbin.com/qiwapezora/edit?html,css,js,console,output

Can't seem to get it to work :/

[2017-10-27 13:09] pachecoder commented on #6
@jefflam I think you need to add the class .draggable-source to the `<li>` element like this `<li class='draggable-source'>`. I use your jsbin i added the class .draggable-source to the `<li>` elements and works fine, i don't know if this needs to be cleared in the docs or maybe and wrong too, but by this way works fine.

[2017-10-27 13:26] beefchimi commented on #6
@jefflam - as @pachecoder points out, you are not actually specifying which elements are draggable. The library does not assume that all children of a container are draggable.

By default, `draggable-source` is the class the library looks for. However, you can specify any class you like.

[code]

[code]

Give those snippets a try and let us know if you still have issues.

[2017-10-27 14:44] pachecoder commented on #6
Hi @beefchimi thanks for this fantastic library, is there any way to suppress the class `draggable-droppable--occupied` from Droppable, because when i add a new element this is stoping me to keep adding elements, it was solved by removing the class, but i don't know if am missing something.

This is a [little codepen.io example](https://codepen.io/pachecoder/pen/xPKNmg)

[2017-10-27 14:49] beefchimi commented on #6
Oooooh, riiiight. Yea I believe we designed this so Droppable containers only accept a single child... makes sense to allow more.

@tsov what do you think? Maybe Droppable containers can default to a single child, but accept a option to specify `capacity` (a number or unlimited)?

The `occupied` class still makes sense as soon as there is at least 1 child, but perhaps still allow adding children u

[2017-10-27 15:01] tsov commented on #6
@pachecoder thanks for bringing this up!

As @beefchimi mentioned, Droppable currently only allows to drop a single draggable element into a droppable element, but I'd be open to allow multiple elements via a `capacity` option, or something similar 👍 We will explore a solution

@pachecoder As for you codepen example, you could also use `Draggable.Sortable`, if you literally change `Draggable.Dropp

[2017-10-27 15:14] tsov commented on #78
@md5 thanks your feedback!

`Droppable` works slightly different to the other modules, as it looks for droppable elements to drop the draggable element into.

`Sortable` and `Swappable` instead are looking for other draggable elements and will try and sort/swap them with the currently dragged element.

My guess is you are looking for the cancel feature in `Sortable`

__Example__

[code]

[code]

I

[2017-10-27 15:15] tsov commented on #75
@heyitsjhu thanks for the write up! Will have a look at this very soon 👍

[2017-10-27 18:13] madebyaaron commented on #77
I'd approach it in the following...

I currently have a delay on my sortable items to allow me to select them using "command/ctrl + click". This adds a reference of the selected item to a store to track the state (a glorified array).

When i drag one of my sortable items (with command/ctrl held down), a mirror would be created for each selected item (offset by one another). Giving the appearance t

[2017-10-27 18:23] md5 commented on #78
@tsov That sounds great. I'm using a similar approach in a version of this treatment implemented with jQuery UI Sortable, but I'd prefer to use this library instead.

The one drawback to the cancel/veto approach is that the user will see their element appearing to sort only to have it canceled and put back in the original position. In your example, I wouldn't want elements in a different `data-gro

[2017-10-27 18:53] madebyaaron opened #79 "Sortable & Droppable together?"
Me again :)

I currently have a sortable container of items. These can be switched round, reordered etc.
I also have a side bar "quick edit" menu with actions (delete, copy, etc)

I need to be able to sort the items within one container, but also have the ability to drop any of the same items onto one of the side bar actions. (E.g I drop a card on a delete button to delete that item).

![](https:/

[2017-10-27 21:47] md5 commented on #78
@tsov Any suggestions on testing with the `v1.0.0-beta.3` branch? I tried putting `git://github.com/Shopify/draggable.git#83b83ec0afd9c05cd2a448430e67002b5a722aa9` in my `package.json`, but the problem is that `lib/draggable.js` doesn't exist on the branch until `webpack` runs.

Do you think it would make sense to have `"postinstall": "webpack"` in `"scripts"` to allow this package to be used dire

[2017-10-29 05:34] timrourke commented on #31
Max,

The work of rebasing my PRs and getting the tests to pass again should
now be complete.

Thanks, by the way, for your kind words about me to your internal
recruiter, Julia Hurrelmann. She reached out to me this week to set up a
quick chat. I'm not actively looking for work, but however things shake
out, Shopify is certainly an organization that is worthy of my
attention.

Kind regards,

Tim

[2017-10-29 05:44] timrourke commented on #31
Max,

Just following up. I've targeted my PRs to master, but it looks like
there's a new tag already made for the next beta release, v1.0.0-beta.3.
This caught me by surprise. Should I retarget my PRs? Why is master
behind the latest tagged version?

Thanks!

Tim

On 2017-10-09 19:02, Max Hoffmann wrote:

Links:
------
[1]
https://github.com/Shopify/draggable/issues/31#issuecomment-335321394
[2]
h

[2017-10-29 06:14] jefflam commented on #6
Silly me -- I thought I did try adding the class before but couldnt get it to work either.. but either ways, thanks for the help everyone!

[2017-10-29 23:05] timrourke opened #81 "Add a link to my Ember shim?"
To make it easier for me to use Draggable in Ember projects, I wrote a simple shim that should allow Ember users and I to consume Draggable as an ES6 module. If possible, I would like to link to it somewhere. Where is the best place to link to my NPM package?

https://github.com/timrourke/ember-cli-shopify-draggable-shim
https://www.npmjs.com/package/ember-cli-shopify-draggable-shim

Thanks!

[2017-10-30 00:01] beefchimi commented on #81
@timrourke you are amazing dude!

We should add this to the docs... maybe we create a `Useful links` or `Use with frameworks` header and throw in links like this...

@tsov is working on a big `documentation` update, so I'll defer to him on where the best place to put these resources would be.

Thanks again for your contributions 😄

[2017-10-30 14:40] boombang opened #82 "touchstart handler prevents any interactions with nested DOM elements"
For example, I have list of draggable elements. There is a button attached to each element used for dragging element and text input field with a value. A touchstart handle on draggable element prevents focusing on input. How to get rid of it?

[2017-10-30 15:28] tsov commented on #82
@boombang Thanks for reporting. This will be fixed in `beta.3` via this commit: https://github.com/Shopify/draggable/commit/21c7dc31b914ee1f5f57c57aa48edb1693f937da

Which will prevent scrolling on touch devices without calling `preventDefault` inside the `touchstart` handler. This will make nested elements clickable again, and allows to better differentiation between scroll vs drag action.

I'll

[2017-10-30 15:29] tsov commented on #81
@timrourke thanks for this! I will add a section in the readme to mention your repo 👍

[2017-10-30 15:43] tsov commented on #79
@madebyaaron Thanks for your question! I think you could do this with `Sortable` only, by using the `drag:over` event to figure out which card/action you are over.

We are currently working on some examples, including sample code. In the meantime I may do a quick sample for multi column dragging, seems to be the most requested example.

I would also not recommend using two different modules (e.g.

[2017-10-30 16:09] madebyaaron commented on #79
Great. thanks for the clarification. I'll listen for a drag: over and
drag:stop (without drag: out) to detect a drop.

Cheers!

On Mon, 30 Oct 2017 at 15:43, Max Hoffmann <notifications@github.com> wrote:

[2017-10-30 16:59] tsov commented on #78
Hmm, it should not have any visual feedback. Canceling the sort event should prevent the UI from doing anything. The `sortable:sort` event was also only introduced in `beta.3`

`"postinstall": "webpack"` would fix this, I will add it to the `beta.3` branch so others can test it too, unless you get a PR up faster.

[2017-10-30 17:46] AStoker commented on #58
@tsov, getting a branch set up to make this fix. There is a failing test for Swappable.
[code]
That was from a fresh download. Is that expected? Want to make sure I'm starting from a valid place.

[2017-10-30 18:07] tsov commented on #58
@AStoker thank you for looking into it! I am guessing this is on the `v1.0.0-beta.3` branch? Because it's currently failing, I am planning to address the current test failures today.

I did however include a commit for `beta.3` that introduces a very simple legacy bundle to use with older Browsers and earlier Edge versions. I was able to get Draggable working in IE11 on `beta.3`, but haven't teste

[2017-10-30 18:41] AStoker commented on #58
@Tsov, did `core-js` solve the issue with the NodeList? Wouldn't have expected that. If so, no need for me to make a PR and this issue could be closed. Just want to make sure first.

[2017-10-30 19:50] AStoker commented on #58
Actually, just took a look at the beta.3 branch, looks like everything should work in regards to the containers and node lists

https://github.com/Shopify/draggable/blob/4b9e8cc2e2812689697ccafc751765c7c83495ee/src/Draggable/Draggable.js#L78

No need for a PR

[2017-10-31 10:26] boombang opened #83 "Sortable:stop wrong value of e.newIndex"
We have two sortable elements, for example. When I change their places (sortable:stop) there appears a wrong value of e.newIndex. e.newIndex is wrong if we move from up to down (e.oldIndex: 0, e:newIndex: 2) otherwise it is right if we move from bottom to top (e.oldIndex: 1, e:newIndex: 0)

[2017-10-31 15:49] tsov commented on #83
Possible duplicate of https://github.com/Shopify/draggable/issues/66, please confirm @boombang

This issue will be fixed with the next beta release

[2017-10-31 22:46] dlichtenstein-rl commented on #54
+1

[2017-11-01 13:46] tsov commented on #83
Closed via: https://github.com/Shopify/draggable/releases/tag/v1.0.0-beta.3

[2017-11-01 13:46] #83 closed

[2017-11-01 13:46] tsov commented on #82
Closed via: https://github.com/Shopify/draggable/releases/tag/v1.0.0-beta.3

[2017-11-01 13:46] #82 closed

[2017-11-01 13:47] tsov commented on #73
This should be fixed now, i.e. the indexes given for sortable events

Closed via: https://github.com/Shopify/draggable/releases/tag/v1.0.0-beta.3

[2017-11-01 13:47] #73 closed

[2017-11-01 13:48] tsov commented on #72
Closed via: https://github.com/Shopify/draggable/releases/tag/v1.0.0-beta.3

[2017-11-01 13:48] #72 closed

[2017-11-01 13:48] tsov commented on #67
Closed via: https://github.com/Shopify/draggable/releases/tag/v1.0.0-beta.3

[2017-11-01 13:48] #67 closed

[2017-11-01 13:48] tsov commented on #66
Closed via: https://github.com/Shopify/draggable/releases/tag/v1.0.0-beta.3

[2017-11-01 13:48] #66 closed

[2017-11-01 13:49] tsov commented on #65
Closed via: https://github.com/Shopify/draggable/releases/tag/v1.0.0-beta.3

@f15gdsy You can now use the `SwapAnimation` plugin for basic sorting/swapping animations.

[2017-11-01 13:49] #65 closed

[2017-11-01 13:51] tsov commented on #64
@pie6k @snalld you can now restrict mirror movement on both x & y axis. Additionally you can now add/remove plugins/sensors with the new release.

Closed via: https://github.com/Shopify/draggable/releases/tag/v1.0.0-beta.3

[2017-11-01 13:51] #64 closed

[2017-11-01 13:53] tsov commented on #58
We now include a legacy bundle that supports IE11:

[code]

[code]

Closed via: https://github.com/Shopify/draggable/releases/tag/v1.0.0-beta.3

[2017-11-01 13:53] #58 closed

[2017-11-01 13:54] tsov commented on #68
@rickghome can you confirm if your problem persists in the new beta release?

@rbarysas your issue should be fixed now!

[2017-11-01 15:28] rickghome commented on #68
Will try today.

Sent from my iPhone

[2017-11-01 17:34] lbrugg commented on #6
Here's a working update to @jefflam 's jsbin for the lazy:
http://jsbin.com/qexeniwige/1/edit?html,css,js,console,output

[2017-11-01 18:40] lbrugg opened #84 "Dragging item that empties a list, unable to move item back to empty list"
**Reproduce:**
have two containers, one list with one item
move the one item out of the list into the other container
in the SAME DRAG, try to move the item back to the first container

**Observed:**
Won't drop list item into first container

**Workaround:**
In another drag, move item back to first list.

![screen recording 2017-11-01 at 11 33 am](https://user-images.githubusercontent.com/5775973/

[2017-11-02 09:40] jsahlen commented on #79
@madebyaaron Did you figure out how to solve this using `Sortable`? I'm trying to achieve something similar, but have gotten stuck.

[2017-11-02 17:08] rickghome commented on #68
This solves the problem. Closing this bug. Thanks for your hard work!

[2017-11-02 17:08] #68 closed

[2017-11-02 17:31] #78 closed

[2017-11-02 17:59] tsov commented on #84
Definitely a bug! I pushed a fix for the next release `beta.4` 👍  https://github.com/Shopify/draggable/commit/1b6745890ad6d4856f50c5a376becc36375fd944

[2017-11-02 18:00] tsov commented on #84
Thanks for reporting!

[2017-11-02 18:44] madebyaaron commented on #79
@jsahlen I'm working on it today. My theory should work. I'll share my example once ive done it and give you a shout.

[2017-11-02 18:46] AStoker opened #85 "Incorrect behavior with Droppable"
Repro fiddle: http://jsfiddle.net/theandybob/1L5s4k58/

When using Droppable, it seems that the elements themselves aren't dragged (they don't move on the screen as you're dragging about), and when you release where you would normally drop, errors are thrown.

This seems to be related to how mirror is working.

During DragStart, these events are executed
Mirror is created:
https://github.com/Shopi

[2017-11-02 19:16] tsov commented on #85
@AStoker thanks for reporting! This seems to be a documentation issue, but we should also provide better error messaging to avoid this issue.

Basically, when using `Droppable`, draggable elements need to be within a droppable container already, which includes a `draggable-droppable--occupied` class on the droppable container.

Currently droppable containers can only contain one draggable element,

[2017-11-02 20:53] AStoker commented on #85
Thanks @tsov, I guess I need to wait to see some examples to fully get what's going on.
In my use case, I am trying to create a drag and drop ui, with a toolbox on the left. So the elements on the toolbox should be draggable onto a workspace.
This means I don't want to move the actual element, but rather move a clone onto the workspace (and then have a drop event that determines what element from

[2017-11-02 21:20] sahandnayebaziz opened #86 "Import Safety in Node"
Hey, on the server, doing something like `import { Sortable } from '@shopify/draggable';` throws the following:

[code]

Maybe I am doing something wrong here, but I have been able to import Sortable by switching to a conditional require like this:

[code]

Maybe this sort of server-side safety could be put somewhere in the library itself so it can be imported into a component that's being rendere

[2017-11-02 21:21] sahandnayebaziz commented on #86
Would have made a PR but I don't have good intuition as to where this would go!

[2017-11-03 08:13] darasi opened #87 "no clone element for dragging effect"
Basically it does not create the clone element. When i drag an element nothing happens until i swap elements,then it works fine.Here is my sample. The same code works in codesandbox but not in my code.

var d = new Draggable.Swappable(document.querySelector('.swappable'), {
	    draggable: '.module-container'
	});

[2017-11-03 11:08] darasi commented on #87
![ok](https://user-images.githubusercontent.com/24958564/32371051-cf18ef12-c0a8-11e7-9ece-c058823c115b.gif)

[2017-11-04 10:34] timrourke opened #89 "Contributing: Git flow"
I propose that this library adopt the discipline of Git Flow as the means of managing pull requests, branches, and releases. This approach should:
- minimize merge conflicts
- isolate ongoing feature work from hotfixes
- significantly streamline the git history of the library
- make cutting new releases a breeze

https://datasift.github.io/gitflow/IntroducingGitFlow.html

[2017-11-05 09:52] smaameri opened #90 "Drag not working on demo page"
When using the [demo](https://shopify.github.io/draggable/) the drag is not working from my mobile.

Sometimes it works for one or two drags, then stops working.

Am using a Samsung S6, Chrome 62.0, and Android 7.0.0.

Any reasons its not working. I think I may be one Android version back, the latest being 8.0. Should it not still work though?

[2017-11-06 14:15] tsov commented on #90
@smaameri Thanks for reporting! I am guessing this is with the newest release of `beta.3`? The latest release was focusing on iOS specifically, but looks like we broke some things for Android.

When testing in Android I see that scrolling is not prevented while dragging, which should be disabled. I am not sure what you mean with "Sometimes it works for one or two drags, then stops working."? We ha

[2017-11-06 14:19] tsov commented on #89
Yes, thanks for bringing it up @timrourke 👍  That is the plan once we release the first stable version. It was too early to adopt IMO, as we are still in beta phase.

Currently we are using beta branches, which could be seen as the `develop` branch and master serves for releases only. Features should currently be pointed to `v1.0.0-beta.4` for the next beta release.

I will add this to the Contrib

[2017-11-06 14:21] tsov commented on #87
@darasi oh interesting, can you paste your full solution (including html and maybe css)? Also, which draggable version and which browser are you using?

[2017-11-06 14:57] tsov commented on #27
Good point! I will add a portion in the `Contributing` document 👍

[2017-11-06 16:18] tsov commented on #86
@sahandnayebaziz Thanks for reporting! Draggable should never be imported in a node environment, even when server-side rendering, instead this library needs to be served to the browser. We could add a generic environment check to make sure `window` exists for example, but I am not convinced we need to yet.

Do you have a specific scenario/use-case?

[2017-11-06 16:29] tsov commented on #85
@AStoker Thanks for explaining your use-case 👍 I think you may be able to use `Sortable` for this, but it's missing a `copy` option. The copy option would copy the source element, when dragging into a different container. I will add it to our roadmap, and hopefully get it out for `beta.4`.

Otherwise you could also build on top of `Draggable` to really tailor your experience, something _along the

[2017-11-06 18:29] sahandnayebaziz commented on #86
What is your recommendation for server-side rendering a component that uses Draggable?

[2017-11-06 18:39] sahandnayebaziz commented on #86
I have since moved on from draggable and written my own drag/drop component for reordering, and it's being used like this in the `render()` of a big-ticket component:

[code]

It's just in there, and it renders itself out on the server just fine, and does the same on the browser.

In your case for draggable, looking at example code like this:
[code]

Sure, makes sense to not call `new Draggable(..

[2017-11-06 19:05] AStoker commented on #85
Ohhh, I didn't consider building on top of Draggable that way, that's kind of awesome. Thanks for the idea, I'll give it a shot!

[2017-11-06 19:12] darasi commented on #87
i use draggable@1.0.0-beta.3 bundle from cdn, html is in .php files and this is just a simple demo list with no css,also i checked on both latest chrome and opera. I guess it has something to do with php?

[2017-11-07 03:06] timrourke commented on #89
👍 Sounds great! Makes sense - no reason to deal with the formality overhead until the first release!

[2017-11-07 03:06] #89 closed

[2017-11-07 06:25] smaameri commented on #90
HI @tsov. Thanks for getting back. Just noticed the delay was the problem. The first drag dosent have a delay, but the next ones do, which is why I got confused. If a I hold down for a little, the drag does work. Tested again on my android. Thanks.

[2017-11-07 15:15] tsov commented on #85
@AStoker glad to have helped! Yes, the documentation is still very poor, we want to encourage people to build on top of Draggable for their custom drag and drop experience, if `Sortable`, `Swappable` or `Droppable` don't give you what you need.

Let me know how it's going 👍 In the meantime we'll add the `copy` option for `Sortable`

[2017-11-08 03:00] decademoon opened #91 "Unable to cancel a sortable:start event properly"
v1.0.0-beta.3
Chrome 61.0.3163.100 macOS

https://jsfiddle.net/jpfj2gd8/

[code]

[code]

I am trying to disable sorting my list in certain situations (when an item is being edited, for example). I have tried the above code, but the sorting still occurs (except the mirror wasn't created). After dropping an item I get an error in the console:

[code]

You can reproduce by running the above fiddle.

[2017-11-08 08:16] gerricom opened #92 "State of the container after :stop event"
First things first: Thank you for your great work. I'm currently testing draggable in a little side project of mine and I'm very pleased by the simplicity and reliability of this (though this is still a beta).

At the moment I'm experimenting with the swappable and sortable-part of this library. I have a complex view of "boxes" that can dragged and sorted around. With each `sortable:stop` or `swap

[2017-11-08 16:10] tsov commented on #90
Hmm, we may need to decrease the delay! But thanks for bringing it up 👍

[2017-11-08 16:10] #90 closed

[2017-11-08 16:25] darasi commented on #87
No, thats the only js code i have.

[2017-11-08 16:47] tsov commented on #91
@decademoon thanks for the report 👍 yes, this is definitely a bug! Looks like we aren't resetting the `dragging` state when `drag:start` gets canceled. I just pushed a fix to the `v1.0.0-beta.4` branch for the next beta release. Here the commit if you are interested: https://github.com/Shopify/draggable/commit/f030a138c7f0699d3caafa5443d2f3e0f3d18096

I'll close this once we release the next beta

[2017-11-08 16:48] tsov commented on #91
Oh and if you need a workaround until the next release, you could do something like:

[code]

[2017-11-08 16:54] gerricom commented on #92
Thanks! This `setTimeout` solution feels a bit hacky, but it's working perfectly fine.

I'm not that javascript specialist, so can you or somebody else explain to my, why `setTimeout` is fixing this? As far as I understand, this should get fired immediately within the stop callback...

[2017-11-08 17:03] tsov commented on #92
`setTimeout(handler, 0)` will execute in a later stack, after the internal `drag:stop` handler has finished executing and removed the mirror and original source element. Using `setTimeout(handler, 0)` is a legit way to defer executions to a later time, it helps to decrease function execution times. Alternatively you can use something like `requestAnimationFrame` or `requestIdleCallback` to delay t

[2017-11-08 17:04] gerricom commented on #92
Yes, this helps! Thank you very much!

[2017-11-08 22:27] decademoon commented on #91
Thank you for the quick fix!

[2017-11-09 00:58] mgifford opened #93 "Accessibility"
Can you define this https://github.com/Shopify/draggable/tree/master/src/Draggable/Plugins/Accessibility

The Drupal community is looking for a best practice:
  https://www.drupal.org/node/2920006

I brought this up on the W3C list too:
  http://lists.w3.org/Archives/Public/w3c-wai-ig/2017OctDec/0081.html

Not sure if you're in Ottawa or not, but would be great to talk about this if you're interes

[2017-11-09 16:55] bonzobavaria commented on #86
I'm having the same problem trying to set up unit testing with Mocha/Enzyme. As soon as I try to import a component that uses `draggable` into a test, I get the same reference error as @sahandnayebaziz.

[code]

In this case it doesn't make sense to conditionally require `draggable` if `typeof window !== undefined`, since the tests rely on a mock DOM with `jsdom`:

[code]

Is there any way to inco

[2017-11-09 18:06] bonzobavaria commented on #86
Um, oops. Nevermind, I'm good. I just added one line to my test helper file and it works:

[code]

[2017-11-10 19:44] Diogomartf commented on #34
Yeah, I would love to see React support! Thanks for the library

[2017-11-16 08:00] florentferry commented on #85
I just try out a similar use case, and use @tsov idea. With event on container, you can know when your element is drag over a dropzone (other droppable container) and apply your logic.

[code]

[2017-11-17 05:49] jmakGH commented on #34
I just threw together a very simple example integrating the Sortable portion of this library with React if anyone wants to check it out for reference.

[Repo](https://github.com/jmakGH/shopify-draggable-react-example)
[Demo](https://jmakgh.github.io/shopify-draggable-react-example/)

[2017-11-17 09:47] fighella commented on #34
That's great. Thanks Justin!

On Fri, Nov 17, 2017 at 4:50 PM, Justin Mak <notifications@github.com>
wrote:

[2017-11-17 10:19] anztrax commented on #34
wow thanks @jmakGH :+1:

[2017-11-18 02:48] jmakGH commented on #34
No problem guys, although I should note it's definitely a rough draft. The current setup works outside of the React lifecycle, meaning that sorting the blocks only changes the UI representation but not the actual state.

All the hooks are there though to update state accordingly and I'll be getting this more Reactified in the upcoming days as well as getting a few more different examples up.

[2017-11-18 15:17] Omniroot opened #96 "Does not combine with CSS animations on transform"
It seems that `Draggable` is applying a `transform3d` to the `draggable` source. This causes problems with css animations, because the animation overwrites the transform:

![draggableanimate](https://user-images.githubusercontent.com/1950680/32981923-a1be4420-cc49-11e7-9a11-77b5f86a5861.gif)

[2017-11-19 23:21] beefchimi opened #97 "draggable-source--placed class showing up unexpectedly"
@tsov we can chat in person about this - it will be easier.

[2017-11-22 20:27] beefchimi commented on #97
Chatted in person. I will experiment with some stuff and report back.

[2017-11-25 12:33] theharshin opened #98 "Detect "click" event on draggable item."
Is it possible to detect a click event on a draggable item or it's child element?
I want to make it sortable as well as clickable.
I have a scenario where there are categories and respective items.
Categories are sortable and clicking on it, there will be list of items.

[2017-11-25 12:50] theharshin commented on #98
I think this is the same issue #68
It sorts the issue for me.
Thanks :)

[2017-11-25 12:50] #98 closed

[2017-12-02 17:36] willowcheng opened #99 "Space is missing between "both" and "personal" in mobile viewport"
![shopify_github_io_draggable__iphone_6_plus_](https://user-images.githubusercontent.com/6239076/33518059-dfc2d862-d75c-11e7-9373-3d56d5f9c11c.png)

Screenshot captured in Chrome Devtool device mode, it also happens when I view the page on mobile device.

[2017-12-02 17:54] beefchimi commented on #99
Wow, great catch @willowcheng ! I will make sure I fix this on the next release 😄

[2017-12-04 12:21] stefankorun opened #100 "Customizing the mirror element behaviour"
I want to create a plugin or customize an existing one so that I can enable element snapping. My current state is this: https://imgur.com/yirCPfZ.

I want when the horizontal distance between two Draggable elements is <10px to snap them together (0px distance) - while dragging. I couldn't find any documentation on creating a plugin for this purpose or customizing the Mirror element.

Other functio

[2017-12-05 05:21] bpkennedy commented on #6
Might need/want to clarify that there's some load delay?  For example, this code does not work:
[code]

but this code does:

[code]

Maybe this should be obvious, but I burned about 45 minutes on this just trying to get the library setup and functioning...

[2017-12-05 22:35] mbarakaja opened #101 "What is the equivalent of dataTransfer.setData and dataTransfer.getData"
Actually I am building an interface that needs to pass information from one component to another via drag and drop. But the interface does not need to move HTML elements around, just information attached to the draggable elements.

To do this, I am using [`DataTransfer.setData()`](https://developer.mozilla.org/en-US/docs/Web/API/DataTransfer/setData) and [`DataTransfer.getData()`](https://develope

[2017-12-06 15:54] beefchimi commented on #6
@bpkennedy rule of thumb - when executing scripts that need to parse the DOM, always wait for document ready. By loading your scripts at the bottom of the document, the DOM will be ready by the time the code gets executed.

@tsov is it worth mentioning this in the README?

[2017-12-08 10:45] chendachao commented on #54
+1

[2017-12-09 16:52] jabbermarky opened #103 "what about scrolling page while dragging?"
For big lists on small screens, it's nice if the dragging gesture also scrolls the screen appropriately. Any plans to add that functionality?

[2017-12-14 17:54] smileytechguy commented on #79
@madebyaaron anything yet?

[2017-12-14 20:01] tsov commented on #103
@jabbermarky thanks for bringing this up! Yes, this is definitely planned 👍 There will be a default plugin that provides scrolling aid.

[2017-12-14 20:13] tsov commented on #101
@mbarakaja Thanks for bringing this up! There is no API to do this internally with draggable, but there are workarounds to this issue.

You could do this via `HTMLElement.dataset` or `HTMLElement` attributes on `drag:start` and `drag:stop`. (set on drag start and read on drag stop)

Alternatively you could use the `DragSensor`, which uses the browsers Drag and Drop API, you could something like:

[2017-12-14 20:26] tsov commented on #100
@stefankorun A custom mirror plugin could solve this for you. Unfortunately we are currently missing examples and documentation on this (coming soon), but I can give a quick example how to create your own plugin.

[code]

This should give you the basic structure of a plugin, without any of the actual logic. If you want to check out what we do for the standard mirror plugin, look here: https://gith

[2017-12-14 20:57] tsov commented on #96
@Omniroot we had a chat about this IRL, but let's mention it here too. Best way to do this is to wrap any element that has transforms applied to them in another none-transformed element, that way draggables mirror plugin won't conflict.

Alternatively you can also make your own custom mirror plugin that uses `top` and `left` instead of `translate3d()`, but it's not recommended for this case.

[2017-12-14 21:24] tsov commented on #93
@mgifford sorry for the very overdue reply, we are currently working on making draggable accessible for screen readers.

We have divided the work up into 3 parts:
- Focusable draggable containers and elements (https://github.com/Shopify/draggable/commit/be963a0a5dc102a209694811696972aef4f562de)
- An announcement api that allows users to specify messages on events (https://github.com/Shopify/dragga

[2017-12-14 21:45] tsov commented on #48
Quick update on the Keyboard Accessibility progress:

We have divided the work up into 3 parts:
- Focusable draggable containers and elements (https://github.com/Shopify/draggable/commit/be963a0a5dc102a209694811696972aef4f562de)
- An announcement api that allows users to specify messages on events (https://github.com/Shopify/draggable/commit/a703bc184aa44cd6ddf34fede10ebd6d5ee8d31a)
- A keyboard s

[2017-12-15 02:26] svinkle commented on #48
@tsov This is awesome! I've left a few comments. I'll be happy to give this a run-through when available. Great work!

[2017-12-15 14:04] stefankorun commented on #100
Thanks,

Quick question initially - the `draggable.removePlugin(Plugins.Mirror)` is not removing the built in mirror element (Plugins has only `Collidable, Snappable, SwapAnimation` properties). A quick but obviously bad solution is I found is: `draggable.removePlugin(draggable.plugins[0].constructor)`.

I managed to resolve the snapping of elements in my application by snapping them after the dro

[2017-12-15 17:59] mgifford commented on #48
Has this been applied yet to the demo https://shopify.github.io/draggable/

Would be love to see examples of this there.  I don't think that's been optimized for keyboard only users at this point.

[2017-12-16 14:35] mgifford commented on #93
This is great to see. Thanks @tsov - I'm definitely still interested in meeting. I'm in touch with a few folks at Shopify, but always interested in hearing more about your team's work on accessibility.

I'm watching this space because it seems like we really are missing a pattern.  Happy to see @svinkle looking at this too https://github.com/Shopify/draggable/issues/48

Would be great if you'd be

[2017-12-16 21:55] madebyaaron commented on #79
Apologies. I had to move forward with react dnd to get a project finished. Im now transitioning to this (sortable). I'll post an example once complete

[2017-12-24 19:38] beefchimi opened #104 "Should a mirror be cancelable?"
@tsov I think there is a solid use case for not wanting a mirror at all. One of the examples I'm working on requires doing some calculations as I drag the mouse away from the `draggable-source`. In this scenario, I'm not actually dragging a mirror at all - so I'm hiding it with `display: none;`

[2017-12-25 14:28] hadifarnoud commented on #34
@jmakGH thank you so much! I couldn't figure it out by myself

[2017-12-29 01:49] haoliangwu opened #105 "Is there official TypeScript type definitions file for this project?"
This drag Library is really cool. Is there any official TypeScript type definitions file for this project or any is working in progress ?

[2017-12-29 16:59] beefchimi commented on #105
@Omniroot did you mention you had to do with when working on the React adapter?

[2017-12-30 00:35] beefchimi opened #106 "Cannot read property 'removeChild' of null"
I seem to be having an issue with using `evt.cancel()` in `drag:start`:

[code]

<img width="1109" alt="screen shot 2017-12-29 at 7 33 02 pm" src="https://user-images.githubusercontent.com/643944/34450096-6baa9ae0-eccf-11e7-89ba-6fb9cf4fa75f.png">

@tsov issue encountered while working on Examples. Commit here:
https://github.com/Shopify/draggable/pull/88/commits/2fd4f372c51b1f294f7de4a854ee3df3fd

[2018-01-02 18:36] fredbenenson commented on #62
Just seconding this – would love an un-minified version of the gh-pages javascript! Thanks for a great library.

[2018-01-03 13:35] mtscrb commented on #55
Any news on this? Would love to see that code 🤓

[2018-01-03 15:45] beefchimi commented on #62
Getting very close to finishing our Examples site - which will be open sourced in this repo. Just need @tsov to finish up some things on Draggable so we can do a full release.

Apologies for the delay everyone!

[2018-01-03 15:45] beefchimi commented on #55
Getting very close to finishing our Examples site - which will be open sourced in this repo. Just need @tsov to finish up some things on Draggable so we can do a full release.

Apologies for the delay everyone!

[2018-01-03 16:21] fredbenenson commented on #62
Sweet! Go @tsov :) I decided to switch to `jQuery.draggable()` for the time being since it just worked out of the box – but I'd much prefer to use Draggable since it's clear you guys put some great thought and work into it – particularly the touch support. Regardless thanks for your hard work!

[2018-01-03 21:51] AustinJim opened #107 "'Symbol' is undefined in IE10/Edge but not Chrome"
Hi all,
I have an app that has to run in the current versions of the major browsers. Chrome seems to be running fine but IE Edge and 10 display this error in the console:
**SCRIPT5009: 'Symbol' is undefined
draggable.bundle.js, Line: 1511, Column: 1**
This is the code that calls it.
[code]
The js file I'm including is:
`<script src="https://cdn.jsdelivr.net/npm/@shopify/draggable@1.0.0-beta.3/lib/

[2018-01-04 00:22] takamoso opened #108 "SwapAnimation flicker, on IE11/Edge"
![gif](https://user-images.githubusercontent.com/35029412/34545370-f4c0f63a-f12f-11e7-81dd-df70aacb419e.gif)

DEMO: https://jsfiddle.net/bs28pbp6/

Chrome is smooth swapping, but IE11/Edge is flickering.

Do you have any solutions?

[2018-01-04 03:14] beefchimi commented on #107
`classes` should be an `Object`. Can you try removing that line and seeing what happens? If that resolves it, I believe what you are looking to do is:

[code]

Refer here for the class props:

https://github.com/Shopify/draggable/tree/master/src/Draggable#classes

[2018-01-04 13:37] AustinJim commented on #107
Thanks for the quick response. I tried it several ways but all give the error above.
Note that `document.querySelectorAll('div.buildBookDragDrop')` does return a NodeList.

`
new Draggable.Sortable(document.querySelectorAll('div.dragDropContainer'),
  	{ draggable: '.draggable-row', handle: '.icon-resize-vertical' })
  	.on('drag:stop',  function(){resequence()});
`

`new window.Draggable.Sortable

[2018-01-04 14:14] beefchimi commented on #107
I'm not on my IE machine at the moment but you more than likely want to use the `legacy` bundle if you require older browser support _(I am not sure we fully support IE10, but Edge should work)_.

You may want to try checking out the [beta4](https://github.com/Shopify/draggable/tree/v1.0.0-beta.4) branch, generating the bundles, using the legacy bundle, and giving that a shot.

I can't imagine you

[2018-01-05 02:52] beefchimi opened #109 ".draggable-container--over class is not applied on drag:start... only added on drag:move"
@tsov is this intended behaviour? Seems a bit strange to me.

If I pick up a draggable item from within a draggable container, the `draggable-container--over` class is not applied until I move at least `1px`. Not my expectation.

![draggable-container-over](https://user-images.githubusercontent.com/643944/34593549-8b23b3d8-f199-11e7-8e39-84bfb370080a.gif)

[2018-01-07 22:47] beefchimi opened #110 "Examples new page generator"
**For when we launch the Examples site**

I would like a simple way to bootstrap a new page.

Here is how I'm imagining it would work:

[code]

If anyone is interested in taking this on, that would be awesome! Please assign yourself to the issue if you are going to start work on it.

Otherwise, I will try to do this when I get the chance. If I decide to tackle it, I will assign myself to the issue

[2018-01-08 22:58] tsov commented on #107
Hi @AustinJim, I am pretty sure you are looking for the legacy bundle: `https://cdn.jsdelivr.net/npm/@shopify/draggable@1.0.0-beta.3/lib/draggable.bundle.legacy.js`

As @beefchimi mentioned, it transpiles with more polyfills and should work at least for IE11. Also, based of your code example, I see you are using the `import` statement within a `script` statement, which is not supported natively by

[2018-01-08 23:00] tsov commented on #109
Not intended, but easy to change for sure. Will add this to the next beta release! We should add the `container:over` class on drag start if the draggable item is still over the container after it has been picked up

[2018-01-08 23:06] tsov commented on #108
@takamoso thanks for reporting! Seems like a bug, will see if I can find a workaround for it. I have a feeling the issue is the canceling of the animation frame here: https://github.com/Shopify/draggable/blob/master/src/Plugins/SwapAnimation/SwapAnimation.js#L29

Ideally animations get staggered, rather than canceled, but that is an improvement we intended to tackle after the first stable release.

[2018-01-08 23:10] tsov commented on #106
Interesting, seems like the mirror got removed from the DOM before the `drag:stop` happened. Will have to take a closer look when checking out the examples branch.

I am guessing you are not touching the mirror in that particular example?

[2018-01-08 23:11] tsov commented on #105
Definitely something we want to add for this library! @haoliangwu feel free to open a PR if you have time, otherwise we'll provide type definitions in the future.

[2018-01-08 23:14] tsov commented on #104
@beefchimi yeah, I had the same thought in the past. Maybe we can add an option to prevent mirror creation, so there is no need to listen for drag events to hide the mirror manually.
Otherwise one could hide the mirror by default via CSS?

[2018-01-08 23:17] tsov commented on #100
🙏 we are more than happy to receive Pull Requests! Yes, you are right that the standard draggable plugins are not exposed, we need to change that behavior, so it's simpler to remove the default plugins too

[2018-01-09 02:46] beefchimi commented on #106
I don't do anything with the `mirror` in the Swappable examples - seemed really odd that this was happening.

[2018-01-09 02:48] beefchimi commented on #104
Yea, hiding via CSS is what I am currently doing - but I think cancelling the creation of a mirror would allow for better performance in this scenario? I defer to you - it hasn't blocked me from making the example.

[2018-01-09 06:57] haoliangwu commented on #105
@tsov no problem, I already add a temporary .d.ts to my own typescript project for translating Draggable module and its Event related class. The definition still need to be perfect, when I have done that, I will send PR to you for review.

[2018-01-09 14:14] takamoso commented on #108
I understand. I'm looking forward to it.

[2018-01-09 14:50] tsov commented on #106
That is quite odd, will check it out on the `examples` branch and see what's going on

[2018-01-09 14:54] tsov commented on #104
Right, I think the option makes sense. Question is if we should allow this via options object in the constructor or via canceling a mirror event. I would tend to say that we should allow canceling of a mirror event, either we create a new event `mirror:create` which allows for canceling the mirror creation or we make the `mirror:attached` cancelable, which would result in the mirror never getting

[2018-01-10 01:58] haoliangwu opened #113 "typos in Draggable.destroy() hook"
https://github.com/Shopify/draggable/blob/1bd10f0d9caa5dbd2b2f0998f597cd88639c4829/src/Draggable/Draggable.js#L134-L138

maybe the codes should be

[code]

[2018-01-10 05:05] haoliangwu commented on #103
meet the same problem and glad to hear the auto scroll plugin has been planned to future release.

if somebody need to implement custom plugin to provide autoscroll function for draggable, just as workaround until the official plugin provided, I implement a [simple one](https://github.com/haoliangwu/draggable-observable/blob/develop/src/plugins/autoscroll-plugin.ts)(written by ts). Hope to help.

[2018-01-10 18:00] tsov commented on #113
Thanks for reporting @haoliangwu 👍 you are absolutely right, was overlooked when changing to using Symbols for private methods.

The test suite needs more coverage, I will make sure to add a test when fixing this

[2018-01-10 18:03] tsov commented on #103
@haoliangwu thanks for providing sample code 👍 I also like that you built it as a plugin, my initial intention was to bake it right into draggable via helper method: https://github.com/Shopify/draggable/blob/master/src/shared/utils/scroll/scroll.js

We'll adopt the plugin design for the library and add it as a default plugin for draggable.

Thanks again

[2018-01-10 18:38] tsov commented on #113
Just pushed a quick fix for the `beta.4` release: https://github.com/Shopify/draggable/commit/231a35e2e40ee1aeadd03b75a52cea7b3fd505a9

[2018-01-10 21:17] madebyaaron opened #114 "swapAnimate plugin bug when placing items into an empty container"
Issue: The following error is received when placing a draggable item into an empty container:

![screen shot 2018-01-10 at 21 14 00](https://user-images.githubusercontent.com/7527902/34795869-a3859728-f64b-11e7-9f06-eed7e120c59e.png)

![screen shot 2018-01-10 at 21 13 40](https://user-images.githubusercontent.com/7527902/34795871-a58f868c-f64b-11e7-8225-d625a03cfb02.png)

Steps to reproduce:

1. I

[2018-01-11 14:37] haoliangwu commented on #114
meet the same problem but I think the bug itself was not due to swapAnimate plugin, the root cause of this behavior is the Sortable shouldn't trigger **sorted** event when the source element was moved to an empty draggable container instance.

Hope for help. : )

[2018-01-11 16:13] tsov commented on #103
Right, just pushed a new `AutoScroll` plugin to the `v1.0.0-beta.4` branch: https://github.com/Shopify/draggable/commit/3c375ed46ebb1b563b38bbbca665ff09fb4ac229

It will be used by draggable by default, but can be removed (see README in commit).

Thanks @jabbermarky & @haoliangwu

[2018-01-11 16:21] tsov commented on #114
@madebyaaron thanks for reporting! It's an issue with the `SwapAnimation` plugin, it always assumes that two draggable elements get swapped (top/bottom).

The plugin still comes with limitations, but there are future plans for the plugin:
- staggered animations
- multi container swap animations
- vertical _and_ horizontal swap animations

@haoliangwu Just out of curiosity, why do you think Sortabl

[2018-01-12 03:07] haoliangwu commented on #114
@tsov, uh.. maybe , maybe we think this issue from different angles and I am wrong

but I thought the sort and sorted events should be triggered when the source and over elements were into the same container. Even though the events can be triggered when we drag elements between different containers, if the the overContainer is empty, drag source element to it didn't do any sort business with any o

[2018-01-12 03:10] haoliangwu commented on #103
@tsov thanks for your hark work, the library is really awesome, my colleague all said that. :)

[2018-01-13 16:02] Promhize commented on #110
Can I contribute by working on this? @beefchimi

[2018-01-13 16:49] Promhize opened #116 "Standard new issue and pull request template"
# Example

Please use this template to help contributors get a detailed description of the issue or feature.

**Note: for support questions, please use stackoverflow**. This repository's issues are reserved for feature requests and bug reports.

## **Do you want to request a *feature* or report a *bug*?**
  - [ ] bug report
  - [x] feature request

## **What is the current behavior?**
_Current beh

[2018-01-13 19:00] beefchimi commented on #110
@Promhize absolutely!

@tsov and I are pairing on some Draggable issues today and hope to get closer to our next release. In doing so, I am hoping I can finally merge https://github.com/Shopify/draggable/pull/88

If that happens, what I will do is open up a new `test` PR that manually creates a new boilerplate Examples page. I will ping you on it, and you can use that as a reference for what all n

[2018-01-13 23:13] tsov commented on #109
@beefchimi this commit should fix it: https://github.com/Shopify/draggable/commit/4e8e6385e512dc101ab086863397605ae421b5e1#diff-3fabc15601b4bae571ab86969f145d06R405

It ends up calling the `onDragMove` handler from the `onDragStart` handler, but in a separate frame. That way some of the move events get triggered _once_ initially, and then while you actually drag around.

Here the order of events w

[2018-01-13 23:38] tsov commented on #104
@beefchimi Just pushed this guy to `beta.4`, it includes a new `MirrorCreateEvent`, which gets fired before the mirror gets created, and is cancelable. It follows the conventions we have: cancelable event, rather than using options for things like this.

[2018-01-13 23:38] tsov commented on #104
https://github.com/Shopify/draggable/commit/0d70454bf762e4c3930fb98bc629dec48eb68b69

[2018-01-13 23:45] beefchimi commented on #109
solved!

[2018-01-13 23:45] #109 closed

[2018-01-14 08:07] Promhize commented on #110
@beefchimi 😄 nice! Will get started on it then

[2018-01-15 15:51] tsov commented on #113
@haoliangwu this should be fixed in the newest release. Thanks for reporting 👍

[2018-01-15 15:51] #113 closed

[2018-01-15 15:52] tsov commented on #107
Closing this for now. Let us know if this is still an issue @AustinJim

[2018-01-15 15:52] #107 closed

[2018-01-15 15:53] tsov commented on #104
Just released `beta.4`, which includes the new cancelable `MirrorCreateEvent`

[2018-01-15 15:53] #104 closed

[2018-01-15 15:54] tsov commented on #103
@jabbermarky @haoliangwu just released the newest beta, which includes the auto scroll feature. Closing this

[2018-01-15 15:54] #103 closed

[2018-01-15 15:55] tsov commented on #100
@stefankorun just released `beta.4` , you should now be able to do `draggable.removePlugin(Draggable.Plugins.Mirror)`. We have made the default plugins statically available on `Draggable`. Let me know if you run into any other issues

[2018-01-15 15:55] #100 closed

[2018-01-15 15:56] tsov commented on #97
Should be fixed with `beta.4` 👍

[2018-01-15 15:56] #97 closed

[2018-01-15 15:57] tsov commented on #96
Hope the answer helped, I will close this for now. The examples, which will get merged soon, will go into this problem

[2018-01-15 15:57] #96 closed

[2018-01-15 15:58] tsov commented on #75
@heyitsjhu just released `beta.4`, let me know if this is still an issue

[2018-01-15 15:58] #75 closed

[2018-01-15 16:01] tsov commented on #92
@gerricom just released `beta.4`, which includes a plugin method for this scenario: https://github.com/Shopify/draggable/blob/master/src/Draggable/Draggable.js#L306-L318

`Draggable#getDraggableElementsForContainer(containerElement)`, which will return all draggable elements for a given container, excluding the original source and the mirror (if present).

Hope this helps

[2018-01-15 16:01] #92 closed

[2018-01-15 16:01] tsov commented on #87
@darasi just released a new version. Will close this for now, let me know if this is still an issue

[2018-01-15 16:01] #87 closed

[2018-01-15 16:03] tsov commented on #84
@lbrugg this should be fixed with the latest release. Thanks again

[2018-01-15 16:03] #84 closed

[2018-01-15 16:03] tsov commented on #106
Fixed with the latest release

[2018-01-15 16:03] #106 closed

[2018-01-15 17:44] tsov commented on #91
This has been fixed with the latest release. Thanks for reporting

[2018-01-15 17:44] #91 closed

[2018-01-16 15:39] #116 closed

[2018-01-16 16:18] beefchimi commented on #55
Closed by https://github.com/Shopify/draggable/pull/118

[2018-01-16 16:18] #55 closed

[2018-01-16 16:18] beefchimi commented on #50
Closed by https://github.com/Shopify/draggable/pull/118

[2018-01-16 16:18] #50 closed

[2018-01-16 16:19] beefchimi commented on #6
Closed by https://github.com/Shopify/draggable/pull/118

[2018-01-16 16:19] #6 closed

[2018-01-16 16:51] Promhize commented on #110
@beefchimi
![screenshot 134](https://user-images.githubusercontent.com/20524675/35000883-cd897f8c-fae5-11e7-92ce-923730f6e797.png)
![screenshot 135](https://user-images.githubusercontent.com/20524675/35000884-ce02e192-fae5-11e7-8f8d-1882c81d076e.png)
![screenshot 136](https://user-images.githubusercontent.com/20524675/35000886-ce47893c-fae5-11e7-89b2-57cb9fd9a24c.png)

[2018-01-16 22:37] mreis1 commented on #54
+1

[2018-01-17 19:41] savroff commented on #82
@tsov
Hi!
I don't think this issue actually fixed.

Here I'm clicking on button, but I have no response from link till I hit it 200 times :)
![2018-01-17 14 37 57](https://user-images.githubusercontent.com/1442465/35063127-2da6e086-fb94-11e7-99e3-d83914643b5d.gif)

I'm using `Sortable`

[2018-01-17 19:57] tsov commented on #82
@savroff Thanks for reporting! That's interesting, could you open a new issue on the repo? The template will ask you for some additional information, e.g. which beta, which browser, etc.

Otherwise my first thought is that the `delay` option may need to be increased for clicks to be registered on time, e.g.

[code]

Maybe try that first and let me know 🙂

[2018-01-17 21:38] savroff commented on #82
`delay` actually worked out well! I wonder if we can describe this case

[2018-01-17 22:22] tsov commented on #82
@savroff great to hear! Which beta are you using? The default `delay` has been increased in newer versions.

Also feel free to submit a PR for one of the READMEs to clarify the issue, otherwise I can try and get something together soon.

[2018-01-17 23:16] savroff commented on #82
`1.0.0-beta.4`

[2018-01-18 03:54] beefchimi opened #121 "Update eslint and use prettier"
I feel like we should update to the latest https://github.com/Shopify/eslint-plugin-shopify/blob/master/CHANGELOG.md and start using `prettier` on the codebase - then maybe add a bit of copy to our Contribution docs to describe how to setup your editor for auto-formatting. That should make it much easier on contributors (no one has to worry too much about code style issues).

What say you @tsov ?

[2018-01-18 09:04] haoliangwu opened #122 "maybe AutoScrollPlugin should export scrollableElement as custom option prop"
### 1. Apply either the `bug` or `feature-request` label

feature-request

### 2. Describe the `bug` or `feature`

I have replaced my custom autoscroll plugin with the default one in v1.0.0-beta-4, and I noticed the ``scrollableElement`` match strategy was trying to find some parent element with ``overflow`` been set to ``auto`` or ``scroll``.

It works fine in scenarios that we use browser defaul

[2018-01-19 09:14] Promhize commented on #110
@beefchimi
😄
noted the single option. I was poking around the examples folder and branch, I think the PR will make it much clearer tho 👍

[2018-01-23 02:36] beefchimi opened #128 "Should we add a "is colliding" class?"
@tsov I'm wondering if we should add a `draggable-collidable--colliding` class to `collidables` when the source is colliding with one/multiple? Take the Examples for instance:

https://github.com/Shopify/draggable/blob/02f955c49ab3bfcee301a5576bc2572826ef4dc1/examples/src/content/Plugins/Collidable/index.js#L32

Perhaps we don't want to do this for performance reasons... I suppose you could make t

[2018-01-23 11:13] toanjo opened #129 "Nested Sortables?"
Hi! Great work with this project, it's really good.

I was wondering if nested sortables are a possibility? For example, if I have a list of parent items and child items and I would like to sort the parents between each other or sort their children.

I am using React and have experimented with creating two different sortable objects but haven't been able to make it work as they conflict with one a

[2018-01-23 14:51] jarben opened #130 "Constrain dragging to an element"
It would be great if there is a plugin (or mirror option) that allows to constrain dragging inside a specific element.  For example:

[code]

[2018-01-23 15:46] tsov commented on #130
Thanks for your question! You should be able to use the Collidable plugin for that:

[code]

The `Collidable` plugin is still very simple and limited, but should give you the effect you want. For more information check out the docs about Collidable: https://github.com/Shopify/draggable/tree/master/src/Plugins/Collidable

Let me know if that worked for you

[2018-01-23 15:48] tsov commented on #129
Thanks for asking! We are planning to build a `NestedSortable` module or bake nesting into the existing `Sortable` module, but this is planned for post stable release. No ETA for this yet unfortunately

Related: https://github.com/Shopify/draggable/issues/56

[2018-01-23 15:51] tsov commented on #128
I think this is perfectly fine to do 👍 In fact it's probably something we should have done from the beginning. There should always be a CSS class associated to state (where possible). And if that's not enough you should be able to get control via event listening.

I am not too worried about performance, but I'll do some testing. Otherwise we may want to defer the class assignment, so it's none-blo

[2018-01-23 15:55] tsov commented on #122
@haoliangwu thanks for request. I haven't checked out the `perfect-scrollbar` library, but do you mean letting the user define the scrollable elements, for example via options?

[code]

[2018-01-23 15:56] beefchimi commented on #130
Hey @jarben - so you are looking for something that does not allow you to drag the `mirror` outside of a `container` _(bounding box)_? I suspect in this scenario the `mirror` originates from within the `container`, can be moved around within the `container`, but cannot be moved OUTSIDE of the `container`. Am I getting this right? Image example below showing the blue mirror unable to cross the blac

[2018-01-23 16:08] jarben commented on #130
Hey @tsov & @beefchimi, thanks for your quick answers!

Yeah, the constrainToParent or constrainToContainer is exactly what I'm trying to achieve. Tried collidables on the parent container but that didn't seem to do the trick, I'll create an online JS fiddle and try to reproduce.

Good point around the drag:move event, will give it a try!

Regarding API design, it kind of makes sense to put it bes

[2018-01-23 16:18] tsov commented on #121
@beefchimi  good idea! I will set up the shopify prettier config on the project before the initial stable release, so all the code will be ✨

[2018-01-23 16:38] beefchimi commented on #121
Let me know if you need any help - I can probably be available for this once I'm done the updates to the landing page.

[2018-01-24 00:06] haoliangwu commented on #122
@tsov yes, something like that.

[2018-01-24 14:58] tsov commented on #122
@haoliangwu Sweet, will add support for this soon 👍 Was also thinking of adding a scroll event for the `AutoScroll` plugin, which allows for preventing scroll by canceling the event.

[2018-01-29 09:58] aliakakis opened #131 "Drag element around container"
I apologize in advance in case there is already an answer but just wanted to ask whether there is a way to use draggable to drag an element around a container like in jQuery Draggable. I cannot seem to find a way around this. I would be grateful if you could point me to the right direction.

[2018-01-29 14:18] beefchimi commented on #131
@aliakakis are you asking about:

1. having a draggable element **constrained to the bounding box of a parent container**, or
2. having a draggable element **unable to cross into the bounding box of a specific element**

If option 1, take a look here: https://github.com/Shopify/draggable/issues/130

If option 2, [Collidable](https://github.com/Shopify/draggable/tree/master/src/Plugins/Collidable)

[2018-01-29 15:14] aliakakis commented on #131
Thank you for the quick reply :-)

I would like to emulate the following http://jqueryui.com/draggable/

Please notice that I have already built this using plain JavaScript but since your excellent library provides ALL the functionality I require, I just needed the above functionality as well.

I will test out your options as well. Thank you.

[2018-01-30 05:41] leftdevel opened #132 "[bug] Incorrect initial position of mirror element when parent container has "text-align: center""
See my codePen: https://codepen.io/anon/pen/WMNqmW

Bug: When you click on the image at the top (without releasing and without moving around, just one click and hold) you'll notice that the mirror image initial position is not the same as the original image which is centered in the TD. The mirror image is actually positioned left to the parent container (td). It's ignoring the TD css style "text-a

[2018-01-30 13:05] irowbin commented on #54
👍

[2018-01-30 19:18] tsov commented on #132
@leftdevel thanks for reporting. Will check this out soon, but sounds like a bug to me 👍

The mirror plugin takes care of computing the mirror position here: https://github.com/Shopify/draggable/blob/master/src/Draggable/Plugins/Mirror/Mirror.js Feel free to open a PR with a fix.

I'll try out your example soon and see what's going on

[2018-02-01 21:22] tsov commented on #122
@haoliangwu 👋 just opened: https://github.com/Shopify/draggable/pull/135 if you are interested

[2018-02-02 00:14] leftdevel opened #136 "[bug] "swappable:swapped" Event cancel() doesn't stop from swapping actually."
Using chrome 64.

Look at my codePen https://codepen.io/anon/pen/ZrbVVG

In the JS code, I'm listening to `swappable:swapped` event, and cancelling it via `e.cancel()`. According to the docs, the event is fired before actually swapping, and if cancelled, the swap won't take place. In the codePen you'll see that cancel() won't prevent images from swapping.

If I'm missing something I apologize in a

[2018-02-02 00:38] tsov commented on #136
@leftdevel thanks for reporting!

This is actually a documentation mistake 😬 We introduced a `swappable:swap` event that gets triggered _before_ the actual swap (`swappable:swapped`) in `beta.4`, so you can cancel it in time. Changing `swappable:swapped` to `swappable:swap` should make it work

**Correct docs:** https://github.com/Shopify/draggable/tree/v1.0.0-beta.5/src/Swappable

Hope this helps

[2018-02-02 00:41] leftdevel commented on #136
Thanks a lot!

[2018-02-02 00:41] #136 closed

[2018-02-02 10:33] bjorsen opened #139 "[bug / feature req] Drag offset error when inside transform: scale()"
We have a drag and drop environment that can be scaled by the end user (for instance zoom out to get a better overview).

What happens technically is that a CSS transform of scale is applied to the parent container of the drag and drop region. After this has happened, the drag and drop behaviour is "off". As soon as you click on a draggable item, it moves a distance away from its original position

[2018-02-02 16:33] beefchimi commented on #139
@bjorsen is there any chance you could cook up a example for me to use? You can either create a codepen, or open up a branch that adds a new example to the `examples/` folder of this repo. It will help a lot 😄

Otherwise, perhaps you can provide some screenshots of your issue along with a few code snippets?

Thanks!

[2018-02-04 15:49] beefchimi commented on #31
@tsov is this resolved?

[2018-02-04 15:51] beefchimi commented on #33
Closing this issue - I have not been able to recreate, and it sounds more like browser behaviour than a fault of the sound fx code.

[2018-02-04 15:51] #33 closed

[2018-02-04 15:54] beefchimi commented on #34
@tsov do we want to leave this issue open until we have some official React integration – or would you say its safe to close this?

[2018-02-04 15:55] beefchimi commented on #74
Closing this issue - Draggable most certainly can be used to replace jQuery UI Sortable. Examples project now live.

[2018-02-04 15:55] #74 closed

[2018-02-04 16:05] beefchimi commented on #99
Updating the site today - closing

[2018-02-04 16:05] #99 closed

[2018-02-04 16:09] beefchimi opened #141 "Rename `AutoScroll` to `Scrollable`"
Missed opportunity.

[2018-02-04 16:28] beefchimi commented on #81
Finally adding this - PR has been opened for `beta5`. https://github.com/Shopify/draggable/pull/143

Closing this issue just to reduce noise. `beta5` should be getting released in the not too distant future.

[2018-02-04 16:28] #81 closed

[2018-02-04 19:59] #141 closed

[2018-02-04 23:19] tsov commented on #31
Let's close this for now, so far the convention is:

- unit tests go with `describe('#methodName')`
- and integration tests co-exists in the same test file, but live at the bottom of the file and has good test descriptions

[2018-02-04 23:19] #31 closed

[2018-02-04 23:24] tsov commented on #34
Let's keep it open until we natively support react or can recommend a 3rd party wrapper library. This is also a good spot for people with the same question

[2018-02-04 23:33] tsov commented on #27
Just added a small section in the `CONTRIBUTING.md` guidelines: https://github.com/Shopify/draggable/commit/fa391e7a9d20f63e2522d738ed045c4513f76ed1

[2018-02-04 23:33] #27 closed

[2018-02-10 21:43] JCA42 opened #147 "Changing width in sortable"
Hey guys,
first of all thanks for the great plugin, really happy that I found a drag&drop plugin working great on mobile and desktop :)

I'm using the sortable "part" of your package for a simple list, the problem is that the width of the list elements is set with `width: 100%`, necessary because the width of the list is changing. Now the problem is that when clicking on an item to drag it, the mi

[2018-02-10 22:32] beefchimi commented on #147
@JCA42 Thanks for the kind words 😄

The effect you are after should be solvable using the `constrainDimensions` prop on the `mirror`. Take a look at one of the Sortable Examples provided in this repo:

https://github.com/Shopify/draggable/blob/master/examples/src/content/Sortable/SimpleList/index.js#L16-L18

You can read more in the README for the Mirror:

https://github.com/Shopify/draggable/blob

[2018-02-11 14:44] synoptase commented on #36
Just updating this for future searches, the signature `new Draggable.Draggable()` doesn't work on `beta-4` . You'll need to use `new Draggable.default()`.

[2018-02-12 18:00] JCA42 commented on #147
Yes, that was the parameter I was missing, thanks :)  👍

[2018-02-12 18:00] #147 closed

[2018-02-12 19:03] JCA42 opened #148 "Bugs in Safari"
Hey there,
first of all, I found a quite strange behaviour in safari when being on your website. When scrolling down to the 3 "bounceable" boxes and click the right one once this happens:

![ohne titel](https://user-images.githubusercontent.com/34250802/36114113-4ea2d07e-102f-11e8-9e31-708256eddeb6.png)

Furthermore, when dragging and li of my sortable list, they don't move visually and then just

[2018-02-13 14:30] esserj opened #149 "[bug] reset does not change isDragging state"
When the state is reset, this.dragging is not restored to false,
though is theory is should not pose an issue as drag cleans up the state
it still seems cleaner to reset such state

steps to reproduce:
[code]

[2018-02-13 14:52] esserj commented on #149
sorry, should have bubbled the event,

[2018-02-13 14:52] #149 closed

[2018-02-14 08:54] smartm0use opened #150 "[HELP WANTED] Create multiple containers dynamically, allow drag & drop of elements within their container"
Hello, I'm using your libray with my Angular application and I have to create multiple containers (created dynamically with `*ngFor`) in which users can drag and drop multiple elements within their container in order to sort them. I mean that users can order elements dragging them and they are not allowed to drag and drop elements of a container into another container.

Here is my Typescript code

[2018-02-15 02:27] WillAvudim opened #151 "[bug] Sortable: uncontrolled scroll to the bottom if any element picked in the middle or close to the bottom of a scrollable list (mobile only)."
Repro: https://jsfiddle.net/tgvcvpy0/11/
Affected browsers: mobile FireFox and mobile Chrome on Android; Chrome on Linux/MacOS in mobile mode (responsive)
Tested version: current 1.0.0 beta, off CDN per instructions in the readme.

Steps:
1. Please open the link https://jsfiddle.net/tgvcvpy0/11/ in Chrome.
2. Switch Chrome into mobile mode and select responsive layout. Alternatively, test it on an

[2018-02-15 15:09] tsov commented on #151
Thanks for reporting! The latest beta introduced the `AutoScroll` plugin, which takes care of auto scrolling, but it came with some bugs.

We have since added some improvements, which will get rid of the behaviour you are describing. It also renames the plugin from `AutoScroll` to `Scrollable`. These changes will be released with the next beta (`beta.5`).

I'll comment in this issue once the new r

[2018-02-15 15:35] tsov commented on #150
@smartm0use Hey, thanks for reporting!

Hmm, my first guess would be that the dynamic containers may be an issue. I am not sure of angulars lifecycle for elements created via `*ngFor`. Does `initDragging` get called whenever `folders` or `item.documents` change? If not then the created `Sortable` instances may hold a stale reference to these container elements.

Dynamically created draggable eleme

[2018-02-15 15:41] tsov commented on #148
@JCA42 thanks for reporting!

Looks like the darker area in the screenshot is just a selection area haha cc @beefchimi Not sure if this is a bug

For the sortable list, do you have sample code? For example how you initialize the `Sortable` instance, would help debugging this

Let me know, I'm happy to help 🙂

[2018-02-15 15:41] tsov commented on #139
Let us know @bjorsen 🙂

[2018-02-15 16:12] bjorsen commented on #139
Apologies all, it's been hectic and I haven't had the time to further look into this project. I'll try to make some time over the weekend to set up a minimalistic example with the isolated issue.

[2018-02-15 17:37] JCA42 commented on #148
@tsov Of course, I initialize the Sortable like this:

[code]

Do you also need the CSS or HTML or is this already enough :)?

[2018-02-15 19:05] tsov commented on #148
@JCA42 Code looks fine so far 👍

Would be good to see some of the HTML too, doesn't have to be a 1:1 copy, just want to see how draggable elements are nested compared to their containers, if that makes sense.

[2018-02-15 20:03] JCA42 commented on #148
No problem :)
Here is how the items are rendered
[code]
And thats how basically the structure of one item
[code]
Is it fine for you like that, or do u need a rendered view :)?

[2018-02-16 04:41] WillAvudim commented on #151
Thank you, Max! I truly appreciate your response. Unfortunately, I was able to reproduce it even after the removal of the AutoScroll plugin.

Indeed, initially it appeared as if it fixed it. But then I figured it out that all it took was to drag the first element to the bottom of the list the regular legit way (by moving the element closer to the bottom). Starting from that point, any element from

[2018-02-16 07:56] ernsheong opened #153 "ShadowDOM support"
### Feature request

I'm trying out Draggable in a shadow DOM, and it doesn't seem to work. A glance at the codebase reveals use of `document.addEventListener`, etc. which prevents it from working in shadow DOM.

[2018-02-20 14:30] kierzniak opened #155 "[bug] undefined overContainer in DragOutContainerEvent object"
Hi,
thank you for your work on draggable. This is awesome project.

As [documentation states](https://github.com/Shopify/draggable/tree/master/src/Draggable/DragEvent#api-4) when `drag:out:container` event is emitted DragOutContainerEvent object should contain `overContainer` property with container element that dragged element is leaving. Instead it return `undefined`.

Example:
https://codepen.i

[2018-02-20 18:12] tsov commented on #155
@kierzniak Thanks for reporting. You are right 👍 We need to update this line here: https://github.com/Shopify/draggable/blob/v1.0.0-beta.5/src/Draggable/Draggable.js#L523

We'll provide a fix for the next beta release! I'll close this issue once we release

[2018-02-20 23:15] dylanmoz opened #156 "Sound Usage License"
Not sure where else to post this, apologies if it shouldn't be here.

I was curious if the sounds used on the library's [home page](https://shopify.github.io/draggable/) are open source or what license they're under, for example: https://shopify.github.io/draggable/assets/audio/cube-down.mp3

Thanks

[2018-02-21 08:01] bzle commented on #151
I'm also running into an issue where dragging an item causes the page to scroll down to the bottom, and the item becomes offset from the touch point:

Here's a video of the problem:
[https://www.dropbox.com/s/nv02en0zb4iwrqp/draggable-issue.mp4?dl=0](https://www.dropbox.com/s/nv02en0zb4iwrqp/draggable-issue.mp4?dl=0)

And here's the live site where the screen-recording was made:
[http://fiery-quil

[2018-02-21 10:59] wuweiweiwu commented on #34
@tsov @beefchimi I'm going to start working on a React wrapper for this! :) I'll keep you guys posted

[2018-02-21 14:37] beefchimi commented on #156
Hey @dylanmoz , I actually just used Garageband for a lot of things. For some of it however, I'm actually generating the sounds in the browser! I even wrote about it here:

https://ux.shopify.com/improving-ui-with-web-audio-368bf674ccf7
https://ux.shopify.com/the-browser-as-an-instrument-d130df1a4b54
https://ux.shopify.com/loops-and-effects-c80a3ae0e000

I personally don't care if people reuse the

[2018-02-21 18:17] dylanmoz commented on #156
@beefchimi awesome! Thank you so much

[2018-02-21 18:17] #156 closed

[2018-02-21 19:44] hoppities commented on #82
@tsov is it possible to exclude a child element from triggering a drag?

[2018-02-21 23:55] wuweiweiwu opened #157 "Feature: Flow typing?"
I was looking through the source and thought that even though there are annotations like return type etc. I think it would greatly benefit the developers and maintainers by adding static typing via Flow.

Thus people can immediately see bugs / type mismatches

I am also planning to use Flow to type the React port and after that I would like to take this issue up :)

[2018-02-22 00:59] wuweiweiwu commented on #34
Update # 1:

Design for Draggable

Supports single containers

[code]

Usage would be like:

[code]
Using the provider pattern to pass the classnames to the respective children without explicitly passing the props in Draggable and Handle

[2018-02-23 02:32] pollorojo commented on #150
Hello, sorry for asking, but I have many problems to integrate @shopify/draggable in my angular 4 project.
@smartm0use can you explain me how did you do it?
Thanks in advance.

[2018-02-23 10:05] smartm0use commented on #150
Hello @pollorojo, have you seen my previous code samples?

[2018-02-23 12:35] pollorojo commented on #150
Hello, thanks for you reponse. No, I can't found it.
Can you put a link to the code sample?

[2018-02-23 12:57] smartm0use commented on #150
I mean the code in the first post!

[2018-02-23 22:56] wuweiweiwu commented on #34
Update # 2:

95% DONE!!! :)

repo: https://github.com/wuweiweiwu/react-shopify-draggable

I just need to finish some enzyme tests and flesh out the demos and update the README

Will update soon.

ps: react-shopify-react is actually taken on npm already but it just has some boilerplate code that that just create a Draggable instance and nothing else. So I will be publishing it as a scoped module

[

[2018-02-24 17:07] philcarbone commented on #105
+1

[2018-02-24 17:09] philcarbone commented on #105
Another option (other than just a definition file) is to change your js file extensions to ts and start adding types to the code (at your own pace). The typescript compiler will help increase code quality and identify bugs with you. Just sayin' ;)  https://www.typescriptlang.org/

[2018-02-25 12:32] wuweiweiwu commented on #34
@tsov @beefchimi

Done and published! :)

Repo: https://github.com/wuweiweiwu/react-shopify-draggable
Simple Demo: https://weiweiwu.me/react-shopify-draggable/

Implementation details: https://github.com/wuweiweiwu/react-shopify-draggable#implementation-details on how I was able to pass options down via context. And update props like `id` `className` and `style` without rerendering

@jmakGH I took

[2018-02-25 19:06] smileytechguy opened #158 "Mirror object is in incorrect position when dragging inside a modal or similar"
When dragging a draggable item inside a modal (or, I'd imagine, anything else which is similarly offset from the rest of the content), the mirrored item has the wrong coordinates and doesn't compensate for this.

[This codepen](https://codepen.io/anon/pen/QQZwbQ) demonstrates this inside a Materialize modal.
* **Library version:** 1.0.0-beta.4
* **Browsers:** all
* **Tech stack:** jQuery (3.3.1) i

[2018-02-26 20:06] shubich opened #159 "Do you have some tutorial?"
I wanna make range slider like [this](https://plnkr.co/WL80md).
And I need to do it quickly.
But it's really hard to start without tutorial.

[2018-02-26 20:11] beefchimi commented on #159
We do not have a tutorial, but we do have our documentation in both the repo as well as developer docs here: https://shopify.github.io/draggable/docs/

In addition to that, we offer the [Examples](https://github.com/Shopify/draggable/tree/master/examples) which you can spin up locally and quickly prototype ideas / work on the core library.

The documentation should be thorough enough as to remove

[2018-02-26 21:58] beefchimi commented on #158
Hey!

I made 2 tiny tweaks to your Codepen: https://codepen.io/beefchimi/pen/PQxPNv?editors=0100

1. I added a really high `z-index` for the `draggable-mirror` in the CSS - this allows it to be above your modal.
2. I used `appendTo` on the 2nd instance of Draggable to put the `mirror` on the `body` instead of within the `modal`. You could append this anywhere outside of the modal if you wanted.

T

[2018-02-26 21:58] #158 closed

[2018-02-26 21:59] beefchimi commented on #159
Updating to close this issue - as I do not believe adding a Tutorial is necessary. We have plans to improve our documentation - that is what really needs to happen to help mitigate questions around Draggable consumption.

[2018-02-26 21:59] #159 closed

[2018-02-26 22:24] smileytechguy commented on #158
Thanks a ton for the help, I wouldn't have thought to do that.  It seems I misunderstood `appendTo` as what where the dragged element would go upon placement.
Thanks!

[2018-02-26 22:27] tsov commented on #158
Maybe we can make the `appendTo`  option clearer by moving it inside the `mirror` options namespace, e.g.

[code]

[2018-02-27 14:42] beefchimi commented on #158
@tsov yea thats a pretty good point actually... we can chat a bit about this in person but perhaps we put this on the roadmap for beta5

[2018-02-28 02:51] smileytechguy opened #160 "Feature Request: Wrapping event handler calling in try/catch"
In using your library, I thought it might be a good idea to wrap the user-defined event handlers in try/catch blocks, or something similar.  I'm not sure if its possible in JavaScript, but a way for the user-defined `.on` function to fail and the drag still finish as appropriate would be helpful (not that I'm trying to make excuses for shitty code).

Y'all may feel this is up to the client, but I'

[2018-03-01 14:57] tsov commented on #160
Thanks for suggesting! I had something similar in mind too, I'll work on something for the next beta 👍I'll cc you on the Pull Request

[2018-03-01 16:18] tsov commented on #155
Just merged this in: https://github.com/Shopify/draggable/pull/162

Hope this resolves the issue 👍

[2018-03-01 17:30] jacobbridges commented on #139
👋 Hello @beefchimi and @tsov! I ran into this issue as well -- that is to say when dragging an item within a scaled container, not only is the initial drag offset off but also the item will get "out of sync" with the cursor the further it is moved from the origin point.

Example codepen: https://codepen.io/jacobbridges/pen/RQdwVQ
(Sorry for the random colors, just tried to make a simple example.)

[2018-03-01 19:35] tsov commented on #160
@smileytechguy just opened a PR, which includes your feature: https://github.com/Shopify/draggable/pull/163/files#diff-1bf92eb53486efab757d2ac94f8b5c79R58

Let me know what you think

[2018-03-01 22:13] beefchimi commented on #139
Hey @jacobbridges , thanks for making a Codepen!

I tinkered with it a bit... but something else was funky and the solution I had in mind was behaving. So, I'm going to experiment with this in the Examples project when I get the chance... hopefully over the weekend.

Apologies for the delay on resolving this. I'll investigate and report back 👍

[2018-03-02 06:07] bjorsen commented on #139
Hi @jacobbridges, thanks for picking up my slack in putting up an example
illustrating the issue. I've been dealing with medical issues in the family
every spare moment lately.

On Thu, 1 Mar 2018, 23:13 Curtis Dulmage, <notifications@github.com> wrote:

[2018-03-02 20:03] dsandstrom opened #166 "Add draggables with `addContainer`"
I'm trying out v1.0.0-beta4.  After adding additional containers with javascript, I need to allow the items inside to be draggable.  I tried `addContainer`, but it doesn't appear to add draggables.  Am I doing something incorrect?  Or is the only way to destroy and reinitialize?

[2018-03-03 00:07] smileytechguy commented on #160
That looks great!

[2018-03-05 03:08] beefchimi commented on #139
@bjorsen very sorry to hear about that – hope everything is alright.

This is indeed a bug... and a very strange one.

Even if my `container` has just `transform: scale(1)`... the mirror will still be heavily offset! The presence of `scale` alone causes the problem. And its not simply a stacking context conundrum... adding/removing `position: relative` makes no difference.

I have yet to figure ou

[2018-03-05 15:21] tsov commented on #166
Thanks for reporting! Weird, just tested the `addContainer` method and it works as expected. Do you have a code sample, so we can reproduce? Only workaround, _for you_, is to destroy and re-initialize.

Let me know

[2018-03-05 15:22] tsov commented on #160
This shipped with `beta.5`, so should now be available 👍

[2018-03-05 15:22] #160 closed

[2018-03-05 15:23] tsov commented on #157
Thanks for mentioning. We have been toying with the idea of using TypeScript, or at least adding type definitions (https://github.com/Shopify/draggable/pull/115), but haven't had the time to investigate.

Let me know if this is something you are considering working on 👍Thanks for all your contributions!

[2018-03-05 15:24] tsov commented on #155
The fix for this went out with `beta.5`. Thanks again for reporting 👍

[2018-03-05 15:24] #155 closed

[2018-03-05 15:26] tsov commented on #153
Interesting idea! How about we add an option to specify a host element? If the host element is not specified we'll fallback on `document` ?

**Example**

[code]

[2018-03-05 15:29] tsov commented on #151
@WillAvudim @bzle We released `beta.5`, which includes improvements to `Scrollable` (previously called `AutoScroll`), could you give it a try and report back?

Most of the issues you mentioned should be resolved now

[2018-03-05 15:30] tsov commented on #150
@smartm0use @pollorojo Sorry, haven't used Angular since its `1.2` release... I'll give it a try over the next few days though and report back

[2018-03-05 15:35] tsov commented on #122
This just got released with `beta.5`, thanks again!

[2018-03-05 15:35] #122 closed

[2018-03-05 15:36] tsov commented on #101
Let me know if that answered your question @mbarakaja .
Closing this for now

[2018-03-05 15:37] #101 closed

[2018-03-05 15:56] ernsheong commented on #153
Thanks for the response!

Yes, that sounds like the way to go about this, and it looks like the strategy employed by https://github.com/RubaXa/Sortable/blob/master/Sortable.js as well.

[2018-03-05 15:57] tsov commented on #153
No problem 👍

We'll add it to the next release! I'll add a mention on the PR for some 👀

Thanks for bringing this up!

[2018-03-05 16:27] mbarakaja commented on #101
Hello @tsov, sorry for not texting you back. Your post was really helpful. I ended up using the native drag and drop API.

Draggable is fantastic, but is overkill for what I need for now.

Thank you very much.

[2018-03-05 18:30] dsandstrom commented on #166
Thank you for the quick response.  I made an example of the problem here: https://codepen.io/dsandstrom/pen/qxzWzv .

After adding a new container, I can drag existing items to it.  However, I can not drag items out of the new container.

[2018-03-05 23:06] bzle commented on #139
@beefchimi I'm also having an offset problem when the parent/container has `transform: translate`.

[2018-03-05 23:08] WillAvudim commented on #151
Thank you, Max! It works flawlessly now. I noticed some artifacts in behavior when I switch between mobile/desktop mode, however if I reload the screen straight in the mobile mode, everything just works.
The only issue I have noticed in the mobile mode was that if I clicked on the item and did not attempt to move it anywhere, then in about a second the browser menu appeared along with the console

[2018-03-05 23:13] bzle opened #169 "Difficulty dragging items on mobile"
Unlike on desktop, when on mobile, sometimes it's difficult to get an item to drag.
Screen recording: [not-dragging.mp4](https://www.dropbox.com/s/0oep7rwe0u6lzsy/18.03.05--v0.5--not-dragging.mp4?dl=0)

I've updated my test/sample page with Draggable v0.5: [http://fiery-quilt.cloudvent.net/](http://fiery-quilt.cloudvent.net/)

You can also check out the codepen created by leftdevel: [https://codep

[2018-03-05 23:15] tsov commented on #166
Thank you so much for the sample code 👍I see what the issue is now: https://github.com/Shopify/draggable/blob/master/src/Draggable/Draggable.js#L255

We are creating a new reference for `this.containers` in `Draggable.js` and our `Sensor`s rely on the same reference!

This could have been prevented if we had better tests 😕Luckily we've been working on our test setup, so I'll make sure to add a tes

[2018-03-05 23:15] bzle commented on #151
@tsov The update resolved the scrolling issue I was experiencing!

[2018-03-05 23:17] tsov commented on #151
Great to hear @WillAvudim @bzle !

@WillAvudim interesting, I will investigate this shortly! Would you mind creating a new issue so I can close this one down? Or do you think it has something to do with `Scrollable` ?

Thanks again for your contributions guys 👍

[2018-03-05 23:17] bzle opened #170 "Mobile: Dragging and Scrolling"
Sometimes on mobile, when an item is dragged it also scrolls the page.
Screen recording: [drag-and-scroll.mp4](https://www.dropbox.com/s/1v8irh7vy3hdtxa/18.03.05--v0.5--drag-and-scroll.mp4?dl=0)

I've updated my test/sample page with Draggable v0.5: [http://fiery-quilt.cloudvent.net/](http://fiery-quilt.cloudvent.net/)

[2018-03-05 23:19] tsov commented on #169
@bzle Yeah I can see the trouble 😕 have you tried to reduce the drag delay? Current default is `100`: https://github.com/Shopify/draggable/blob/master/src/Draggable/Draggable.js#L67

**For Example:**

[code]

[2018-03-05 23:21] bzle commented on #169
I'll give that a try, though sometimes I give a decent pause before trying to drag... maybe I'm still moving a little bit or something.

[2018-03-05 23:23] tsov commented on #170
Yes, we still need fine-tune the [`TouchSensor`](https://github.com/Shopify/draggable/blob/master/src/Draggable/Sensors/TouchSensor/TouchSensor.js)

We are trying to prevent scrolling after a drag start or prevent dragging if a scroll has occurred, but this looks like a timing issue. Will investigate 👍

Thanks for bringing this up!

[2018-03-05 23:25] tsov commented on #169
I have noticed that myself, something to check out for sure! All touch related code is abstracted in our [`TouchSensor`](https://github.com/Shopify/draggable/blob/master/src/Draggable/Sensors/TouchSensor/TouchSensor.js), so will have to dig a little deeper why the delay seems to be longer on touch.

[2018-03-05 23:28] WillAvudim opened #171 "Clicking on item and holding (w/o dragging) invokes browser menu"
In the mobile mode, a click on an item without attempting to drag it results in the browser's menu popping up (after about ~1 sec delay).

The menu pop-up is coinciding with the following warning showing up in Chrome:

[code]

Repro steps:
1. Please open https://jsfiddle.net/dczrfrgx/1/ in Chrome.
2. Switch Chrome to iPhone 7 mode.
3. Reload the whole thing.
4. Click on any item and wait for a sec

[2018-03-05 23:28] WillAvudim commented on #151
@tsov  Absolutely, opened https://github.com/Shopify/draggable/issues/171

Once again, truly appreciate all the work you've put into resolving this issue!

[2018-03-05 23:30] tsov commented on #151
@WillAvudim Cheers 👍Will check it out soon. Closing this issue for now

[2018-03-05 23:30] #151 closed

[2018-03-06 00:09] albertodarblade commented on #166
Uff I have the same problem any fix of this issue?

[2018-03-06 00:13] tsov commented on #166
For now the only workaround is destroying draggable, adding/removing a container and re-initializing:

[code]

Sorry about this, we'll make sure to add tests when we fix this, so it doesn't happen again!

I'll keep you posted

[2018-03-06 03:45] bzle commented on #169
Thanks @tsov Setting a very brief delay of 5 seems to be about perfect. If the delay is set to 0, you'll get the "dragging and scrolling" bug every time you start dragging while still moving.

[2018-03-07 18:52] manju-reddys opened #173 "Droppable issue and unable to prevent the default insert on "droppable:over""
**For support questions, please use stackoverflow.** This repository's issues are reserved for feature requests and bug reports.

Describe the `bug` or `feature`

Bug: When the droppable dropped outside the drop-zone we see error in the console ```ERROR DOMException: Failed to execute 'insertBefore' on 'Node': The new child element contains the parent```.

Feature / How to: As you can see the atta

[2018-03-08 04:06] IDontKnowMyUsername commented on #173
I'm looking for this functionality in the project I'm currently working on as well.  I am not sure if you are envisioning when
`droppable.on('droppable:dropped', (event) => {
  if (/* some logic */) {
    event.cancel(); // prevents drop
  }
})`
executes that the dragged object gets reverted to the original container or not.

For example:
Object 1 in container A gets dropped to container B.
`Some

[2018-03-08 05:41] manju-reddys commented on #173
@tsov Honestly this lib is going in right direction and also I recommended to [Angular Material](https://github.com/angular/material2/issues/8963#issuecomment-360378557) team.

#146 solves one use-case (drop cancel)
**2nd use-case**: Should provide option to prevent the droppable getting inserted (by default now see in the gif) into dropzone while the drag is in progress and the droppable is over

[2018-03-08 06:17] manju-reddys opened #174 "Scrollable performance"
I was doing some performance testing of ```Scrollable``` and noticed some serious performance issue when we have quite long list of items in the scrollable container. Then I went through the code to see why, I found there is method [```hasOverFlow```](https://github.com/Shopify/draggable/blob/a2c500137c02c3e74b65896bf7dfe706a817a63d/src/Draggable/Plugins/Scrollable/Scrollable.js#L248) which is get

[2018-03-08 07:39] wuweiweiwu commented on #157
@tsov I would love to! Let me know what you guys decide :)

[2018-03-09 22:20] JCA42 commented on #148
Any news from your side?

[2018-03-09 22:42] beefchimi commented on #148
Hey @JCA42

I haven't used `swap-animation` much personally... since it currently only looks at vertical swapping I haven't found much use for it.

That being said, I did up a example for it in the [Examples project](https://github.com/Shopify/draggable/tree/master/examples/src/content/Plugins/SwapAnimation).

That page is currently not linked to on the hosted site _(since it isn't ready yet)_ but

[2018-03-16 01:25] mniebling opened #175 "Regression in "Symbol" polyfill in legacy bundle in IE11"
After recently upgrading from `1.0.0-beta.4` legacy to `1.0.0-beta.5` legacy at work, I noticed a "Symbol is undefined" error in IE11 which began crashing the app where we're using Draggable.

Quite possible I'm missing something about how to use the legacy bundle but the way we were consuming it didn't change from beta 4 to beta 5. Maybe the changes in [3f8154c](https://github.com/Shopify/draggab

[2018-03-16 13:46] beefchimi commented on #175
Interesting. Even though nothing about your implementation has changed, any chance we can see a js code snippet? I would sometimes see a similar error when I passed in the wrong kind of argument for initializing Draggable.

We do pull in the `core-js` Symbol polyfill here:
https://github.com/Shopify/draggable/blob/master/src/index.legacy.js#L1

Nothing has changed about that... I can try troublesh

[2018-03-16 16:35] mniebling commented on #175
Sure thing, in our app we are setting it up like so:

[code]

I don't see too much different from the failing Codepen:
[code]

[2018-03-17 22:10] beefchimi commented on #175
So strange. Definitely a `core-js` polyfill issue... just not sure why its become a problem since the previous beta.

@mniebling I forked your pen here:
https://codepen.io/beefchimi/pen/RMGOwG

The generated `beta5 legacy bundle` used in that codepen has all of its `core-js` polyfills removed... and before loading the `legacy bundle`, I load the entirety of `core-js` from a CDN. This solves the pr

[2018-03-17 23:47] beefchimi opened #177 "[Examples] Don't resolve path lookup on Webpack build"
To make `import` statements consistent, I chose to `resolve` certain paths within my Webpack config. This can really slow down script compilation. Look into an alternative for this!

[2018-03-18 16:04] beefchimi commented on #139
**Sorry for the late reply. To give some insight into the CSS behaviour:**

– http://meyerweb.com/eric/thoughts/2011/09/12/un-fixing-fixed-elements-with-css-transforms/

Basically, once you have a `transform` on a container, any children of that container will be positioned relative to that parent. So, instead of `position: fixed;` being relative to the viewport, it is now relative to the transfor

[2018-03-18 16:08] beefchimi commented on #148
Closing this issue - but please feel free to re-open if you have more questions.

[2018-03-18 16:08] #148 closed

[2018-03-18 16:14] beefchimi commented on #79
For anyone landing on this issue, I believe you can take inspiration from the [Multiple Containers Example](https://shopify.github.io/draggable/examples/multiple-containers.html) in our Examples project.

**Files can be found here:**
https://github.com/Shopify/draggable/tree/master/examples/src/content/Sortable/MultipleContainers

Try moving out all of the draggable list items from `container two`

[2018-03-18 16:14] #79 closed

[2018-03-18 16:17] beefchimi commented on #85
I am going to go ahead and close this issue.I believe the [Unique Dropzone Example](https://shopify.github.io/draggable/examples/unique-dropzone.html) is sufficient in demonstrating Droppable's purpose.

We are also actively working on improving documentation. That can be tracked as its own project.

[2018-03-18 16:17] #85 closed

[2018-03-18 16:28] beefchimi opened #178 "[Examples] Add link to "view code""
I want to add a link on each Example page that takes you to that examples `content` folder. This way, for anyone not willing to checkout the repo and get their hands dirty _(or open the inspector and view source maps)_ you can simply click through to the repository.

<img width="951" alt="screen shot 2018-03-18 at 12 25 57 pm" src="https://user-images.githubusercontent.com/643944/37568165-d52f030a

[2018-03-18 16:31] beefchimi commented on #86
I'm going to go ahead and close this issue. @tsov if you want to explore the idea of `importing in node / server side rendering`, you can either re-open this or start a more specific issue.

[2018-03-18 16:31] #86 closed

[2018-03-18 16:37] beefchimi commented on #121
@tsov eslint is updated here:
https://github.com/Shopify/draggable/pull/176

Let me know once I'm good to merge and I'll follow up with a new PR that adds `prettier`.

[2018-03-18 16:37] beefchimi commented on #128
Did this get added or did we move it to `beta 6`?

[2018-03-19 13:04] tsov commented on #175
That is an interesting issue, not sure how that could have happened, but will check this out soon. I may try and see if the commit you mentioned @mniebling introduced this.

I think the only workaround is to import `core-js` polyfills in your project manually

[code]

[2018-03-19 13:18] tsov commented on #128
Hasn't been added yet, but we should add it for `beta.6` 👍

[2018-03-19 14:37] mniebling commented on #175
Thanks for the investigation here. Manually including `core-js` is a good suggestion as well. I'll stay tuned & am happy to help test out any changes here.

[2018-03-19 23:46] tsov commented on #174
Sorry for the late reply on this! We generally try to execute expensive methods like `getComputedStyle` in a separate frame, so they are none-blocking and don't cause reflow. Unfortunately we can't memoize on drag start, because we need to find the closest scrollable element while we drag too. I did some testing to see how slow one `hasOverflow` call is

<img width="659" alt="screen shot 2018-03-1

[2018-03-20 19:26] rxhxn commented on #170
Any update on this? This is a currently a problem for the new collections page on  https://github.com/Shopify/facebook-commerce. The new page is hidden behind a beta flag for now, just wanted an idea of when it would be fixed 😄

[2018-03-20 20:15] katranci opened #180 "Position of drag element is incorrect when drag starts"
Please see https://plnkr.co/edit/YY3uch?p=preview

I'm building a tool where one can draw rectangles on elements to create annotations. All I need is to take a note of drag element position when drag starts and set the rectangle dimensions based on event.clientX and event.clientY in drag:move events. However the position of drag element is incorrect when drag starts.

* **Library version:** 1.0.0-

[2018-03-20 20:23] beefchimi commented on #180
Hey @katranci , that `plnkr` url doesnt seem to do anything for me? Do you have a short video you can post or anything?

[2018-03-21 10:31] katranci commented on #180
@beefchimi I've updated the plnkr. The goal is to draw a rectangle by doing the drag action on the gray box.

<img width="1680" alt="screen shot 2018-03-21 at 10 00 03" src="https://user-images.githubusercontent.com/61077/37703775-a9f7a16c-2cee-11e8-81b3-61b69cfd7aab.png">

[2018-03-21 13:53] beefchimi commented on #180
This sounds like a excellent idea for the [Examples](https://shopify.github.io/draggable/examples/) project. If I have some time I will try and build something and ping you on the PR.

As far as your current `plnkr` example, I took a look at the updated version - you are using the same element for the `container` and the `draggable` items? That definitely wouldn't work correctly.

If I understand

[2018-03-22 13:10] tsov commented on #180
@katranci you can use `document.body` as the container, if you don't need any more containers, e.g. `new Draggable(document.body)`

[2018-03-22 13:14] tsov commented on #180
Also, I believe you want to call `getBoundingClientRect()` against the `dragEvent.source`, not the original `el` variable.

Draggable creates a clone of the originally picked up element (called the source), this way it makes it safe to move it around the DOM while dragging.

So line 13 in your plnkr, change it to: `const refRect = event.source.getBoundingClientRect()`

Hope that helps

[2018-03-22 14:23] katranci commented on #180
Thanks for your reply @tsov. Setting the container to `document.body` breaks that example for some reason. Another problem I noticed in my example is that I cannot see the width of the rectangle changing in drag:move events. I think this is because Draggable is not only cloning the original element but also hiding it during the move action. Therefore any references to the original element or desce

[2018-03-22 14:28] beefchimi commented on #180
There are many nuances to this - I did some thinking on it last night and have a pretty solid idea for a new Examples entry. I want to hopefully spend time on it this weekend and can maybe have code to share with you by Monday. If you can hang tight until then, I'll do my best to help out.

[2018-03-22 15:36] smileytechguy commented on #79
omg how did i not know that doc site existed

I've just been reading over the `readme.md`'s a few thousand times and sometimes trying to inspect the examples on the main page

I think that's what I was looking for at least!

[2018-03-22 15:39] katranci commented on #180
Thanks a lot @beefchimi, looking forward to seeing your example. In the meantime I think I'll stick with native drag and drop api.

[2018-03-23 12:23] a-korzun opened #183 "Prevent dragging on child interactive element"
Hi there!
Does Draggable support to prevent drag event on any interactive child element?
Example: I have a list with items that contains checkbox, it is so hard to check input w/o drag element.

Live Preview:
https://codepen.io/akorzun/pen/aYwXoR

Gif:
![mar-23-2018 15-20-57](https://user-images.githubusercontent.com/3366664/37828896-1031093a-2eae-11e8-82a0-68dc08b8f37d.gif)

[2018-03-23 13:39] beefchimi commented on #183
You could do something clever on `drag:start` thatl ooks at the mouse position and compares it against the position of the button, and `cancel` if its overtop of that button. Perhaps that would work.

@tsov what do you think about introducing a class like `.draggable-cancel` or `.draggable-prevent-default`, and if a `drag` is initiated when the touch or mouse or whatever is overtop that element, t

[2018-03-23 14:32] katasup commented on #183
@beefchimi ok, thank.
I have a solution https://codepen.io/katasup/pen/aYwXoR

Hope this idea is not so terrible to implement into this project.

[2018-03-23 14:39] tsov commented on #183
@katasup One way to get around the issue is to increase the default drag delay:

[code]

that way there is enough time to check/uncheck checkboxes or even click links/buttons, but also allow to start dragging when holding the mouse down longer.

@beefchimi We could create a plugin that automatically prevents dragging when the target is an input field or even `contenteditable`, what do you think?

[2018-03-23 14:44] beefchimi commented on #183
@tsov I feel like thats a good start... but we should offer something more flexible.

Let's say I have a `div` instead of a `button` because _"reasons"_. And I want a `click` on that `div` to trigger some action unrelated to dragging. I feel like I should have an easy way to tell draggable "ignore dragging if I'm clicking on this child element".

**My expectation is to:**
- add a class to that _"u

[2018-03-23 20:28] katasup opened #185 "Mirror have wrong position"
Hi!

The mirror element positioned via `transform: translate` relative to the parent element not always have right position. When parent element have `position: absolute; right: 0;` mirror translate relative to parent and get "wrong" position.

Example: https://codepen.io/katasup/pen/XEaJea
![screenshot](https://user-images.githubusercontent.com/3366664/37851978-ed0888a4-2ef1-11e8-9fd8-11b7d5a5f9a

[2018-03-23 21:00] beefchimi commented on #185
Do you need to have the `mirror` appended to its direct `parent`? If not, you can append it to any other element. Try using:

`appendTo: 'body',` to the Draggable options.

Also, worth increasing the `z-index` of the `.draggable-mirror` so that you can make sure it is above the `panel`. I tried this in your pen and it worked perfectly.

[2018-03-23 21:07] katasup commented on #185
@beefchimi Thanks you so much!
Sorry, i have missed it.

[2018-03-23 21:07] #185 closed

[2018-03-25 15:39] Wikiki opened #189 "How to drag and drop into iFrame ?"
Hi,

I'm trying to create a "builder tool" using this library but I'm facing an issue:
- When I try to drag and element from a div into an iFrame inside an other div a get the following behavior: the drag element only move into the first div and not over the whole document. So when I try to go over the iFrame my first div scroll.

How can I manage this to be able to make my iFrame droppable and re

[2018-03-26 02:37] beefchimi commented on #180
@katranci - I managed to squeeze in some time to work on the new Example. Its still in the very early stages, but I got enough done to communicate the feature you are trying to implement.

You can check out my WIP PR here: https://github.com/Shopify/draggable/pull/190

**The main files you want to look at are:**
- [DrawBoard](https://github.com/Shopify/draggable/pull/190/files#diff-f47abe4b0b8705f

[2018-03-26 14:26] katranci commented on #180
That looks very cool :) Thanks a lot for putting extra effort into this. I'm not sure whether canvas would be a good medium for my use case. I'll be filling inside the rectangle box with content and behaviour and I think it would be easier if I construct it as a Vue component as that's what I'm using already on the front-end.

[2018-03-26 14:35] beefchimi commented on #180
Note that I'm not using a HTML `canvas` - I just call the component a "canvas" because it seemed to jive with my mental model of the example I'm building.

TL:DR its just a div referred to as a "canvas" - nothing fancy.

[2018-03-26 15:37] katranci commented on #180
Ah that's good to know. I haven't had a chance to look into your code properly yet but will definitely do throughout the week 👍

[2018-03-28 08:15] nmhnmh commented on #173
@tsov @manju-reddys +1 for adding option to prevent default or customize the insert behavior for droppable:over event, when you are building some designer or editor applications, user drag and drop a toolbar icon or button, obviously you don't want that icon or button moved into the edit area, instead you just want to know which icon or button is dropped and insert corresponding content for that i

[2018-03-29 05:10] scgupta208 commented on #150
Hello @tsov, I want to select multiple instances and want to drag from one place and drop to another place. Is any method available in Shopify draggable plugin?

[2018-03-29 05:22] smileytechguy commented on #79
I tried duplicating the example and was having all sorts of issues (I'm competent, I swear!) before seeing the caveat on https://github.com/Shopify/draggable/tree/master/src/Sortable .  Oh well, I guess I'll wait till the appending issue is fixed!

[2018-03-29 13:23] beefchimi commented on #150
Hey @scgupta208 - hopefully I understand your question correctly. I'm going to reiterate the question by describing moving files around on a desktop computer.

1. I open a folder _(or web page)_.
2. I see a series of files.
3. I hold down the `shift` key.
4. I then click on each file I wish to move, which adds it to the "queue" of draggable files, which is indicated by a visual change of state _(t

[2018-03-29 13:27] tsov commented on #189
Hey @Wikiki , thanks for bringing this up, as it's definitely something we want to have support for!

I could imagine the API to look something like this:

[code]

**Requirement**

- iframes are on the same origin

**Missing API**

- `setOptions` to change options after initialization (not blocking though)
- `hosts` option to declare different hosts, e.g. shadow DOM, iframe windows, etc

I'll add

[2018-03-29 13:27] tsov commented on #189
Related issue: https://github.com/Shopify/draggable/issues/153

[2018-03-29 13:32] tsov commented on #150
❤️😆

Absolutely doable, we just haven't prioritized it yet, but I can see multiple use-cases for this. Multi select is something `Draggable` core needs to know about, so I am not sure if a plugin will suffice, but we'll plan it out @beefchimi .

Related issue: https://github.com/Shopify/draggable/issues/77

[2018-03-29 13:59] tsov commented on #79
@smileytechguy hahaha, I believe you 🙂 Let us know if we can help with anything

I am guessing you mean the "Currently just appends draggable elements in different containers" problem?

What behaviour do you need?

[2018-03-30 23:55] screamer49 opened #196 "Sortable leaves unwanted elements"
After sorting some elements I call a function on drag:stop and check my container to snags some ids so I can write back the new order to a database. It appears that the clean up (of the mirror element?) hasn't happened yet because I get duplicate ids. Is there a way around this problem? Perhaps an event I can use for after the clean up has happened? Any help is really appreciated.

[2018-03-31 00:04] beefchimi commented on #196
eeep... `mirror:destroy` is a more appropriate event, but even that is getting fired before the `mirror` gets removed from the DOM 😬

For now, you could use `mirror:destory` and simply filter out the single occurrence of `.draggable-mirror`. @tsov perhaps we should offer a new "end of lifecycle" event - something that gets called at the VERY END, when all draggable operations have completely finis

[2018-03-31 14:31] kachurun commented on #189
@tsov This is the most important feauture for me. I'm looking forward to the implementation. Thank you!

[2018-03-31 14:41] screamer49 commented on #196
@beefchimi Thanks for the response. I just implemented your suggestion and got it working. Much appreciated, sir.

For what it's worth, I think the `drag:completed` event would be an excellent addition.

[2018-03-31 14:55] tsov commented on #196
@screamer49 Yes, that's been an annoying side-effect 😕 You could also use the `sortable:stop` event, which gives you `oldIndex` and `newIndex`, as well as `oldContainer` and `newContainer`, to figure out how elements have been sorted. Here the docs: https://github.com/Shopify/draggable/blob/master/src/Sortable/SortableEvent/README.md#sortablestopevent

Alternatively you could use the `getDraggable

[2018-04-02 17:44] matstc opened #198 "Scrolling occurs when dragging in iOS 11.3"
Since the iOS upgrade to 11.3, both Chrome and Safari scroll instead of dragging. The result is very similar to [the video example from a previous bug](https://www.dropbox.com/s/1v8irh7vy3hdtxa/18.03.05--v0.5--drag-and-scroll.mp4?dl=0). However, in my case, dragging is _never_ possible without scrolling too.

Both Chrome and Safari worked well with iOS 11.2.

* **Library version:** 1.0.0-beta.5
*

[2018-04-02 18:01] tsov commented on #198
Thanks for reporting @matstc !

We have fixes for this issue in the `v1.0.0-beta.6` branch

- https://github.com/Shopify/draggable/commit/c8b0224c4dc2393ec2cb24fb53afeb83185c3f80 fixes some scrolling issues (mainly some flickering on mobile)
- https://github.com/Shopify/draggable/commit/06fe72fd8ddc270e456bb7235913816785903eea fixes the weird state where you are both scrolling and dragging

To fix

[2018-04-02 18:08] matstc commented on #198
Thanks a lot @tsov. Very useful. I'm happy to test this again as soon as the beta is available.

[2018-04-02 18:10] tsov commented on #198
No problem @matstc, will let you know once it's available 👍I'll keep this issue open until then

[2018-04-03 01:14] beefchimi commented on #178
Already implemented - will update production with beta6

[2018-04-03 01:14] #178 closed

[2018-04-03 05:07] alexreardon commented on #198
Hi there, we are experiencing the same issue for `react-beautiful-dnd`: https://github.com/atlassian/react-beautiful-dnd/issues/413

I think you will find this is causing you grief:
https://github.com/Shopify/draggable/blob/master/src/Draggable/Sensors/TouchSensor/TouchSensor.js#L90

There is an underlying webkit bug that I have raised. You can also have a look at the PR relating to the issue I fo

[2018-04-03 23:56] tsov commented on #198
@alexreardon thanks for your comment! That's annoying, I guess I didn't realize this was iOS 11.3 specific, as we were experiencing some issues on touch anyway.

I was getting the same behaviour on Chrome (65.0.3325.181) on Mac (10.13.3) in device mode with touch events and got worried that webkit will adopt it in the future.

For now we'll implement a similar workaround and follow and support you

[2018-04-04 13:11] dmytrokuzmin opened #199 "Scrolling issues when a specific style is applied to the html"
Applying the following style
`html { height:100%; }`
breaks both, the mouse wheel scrolling and the page edge hover scrolling.

Issue can be reproduced on the following fiddle: http://jsfiddle.net/uk79hvyn/47/

Steps to reproduce:
As soon as page is loaded, remember the imaginary point where the page ends. Drag div '0' to the bottom. As soon you pass the imaginary point and the page is scrolled a

[2018-04-04 13:42] tsov commented on #166
This is now available with the new `beta.6` release. Closing this, but feel free to re-open if things don't work as expected

[2018-04-04 13:42] #166 closed

[2018-04-04 13:42] tsov commented on #198
@matstc This should be fixed in the `beta.6` release, thanks for your contribution 👍

[2018-04-04 13:42] #198 closed

[2018-04-04 13:44] tsov commented on #175
@mniebling we just released `beta.6`, which includes a fix for this. Closing this issue now, but feel free to re-open if things still don't work.

[2018-04-04 13:44] #175 closed

[2018-04-04 13:45] tsov commented on #174
@manju-reddys closing this for now, but feel free to re-open this issue 👍

[2018-04-04 13:45] #174 closed

[2018-04-04 13:47] tsov commented on #170
This should be fixed now 👍 we just released `v1.0.0-beta.6`, feel free to re-open this issue in case the fix didn't work for you.

[2018-04-04 13:47] #170 closed

[2018-04-04 13:49] tsov commented on #199
@dmytrokuzmin Thanks for reporting, could you confirm this is still an issue for `beta.6`? We just released the new version and it includes improvements for scrolling.

[2018-04-04 14:10] dmytrokuzmin commented on #199
I can confirm that issue is fixed in `beta.6`. Thank you 👍

[2018-04-04 14:10] #199 closed

[2018-04-04 16:00] smileytechguy commented on #79
@tsov Any idea what the issue could be with this?

[2018-04-04 18:05] tsov commented on #169
@bzle could you confirm if this is still an issue for `beta.6` ?

[2018-04-04 18:05] tsov commented on #169
You should be able to set `delay` to `0` now, without getting into that weird state

[2018-04-04 18:07] tsov commented on #79
@smileytechguy sorry for the delay, will check this out today!

It would be amazing if you could provide a codepen that reproduces the issue, otherwise I'll try and recreate the desired behaviour 👍

[2018-04-04 21:40] matstc commented on #198
Thanks @tsov. I tested this in Safari on iOS 11.3 and it's working nicely.

[2018-04-04 23:00] adamwathan opened #201 "Support multiple classes for class name overrides"
When using this library with functional CSS frameworks like Tailwind or Tachyons, it would be super convenient to be able to specify multiple classes to be applied for the different states draggable elements can be in, like:

[code]

Right now this isn't easy to do since classes are added using `element.classList.add` which can only accept a single class. Also, `getClassNameFor` would realisticall

[2018-04-05 00:02] tsov commented on #201
Hey @adamwathan, thanks for the suggestion! Good timing to address this, as we are currently making plans to extract some code from `Draggable.js` into smaller plugin concerns. We decided to create a core plugin `Styleable`, which will handle class name management. This would also remove the need for the public `Draggable#getClassNameFor` API.

I am currently working on the plugin (https://github.

[2018-04-05 00:16] tsov commented on #189
Quick update: https://github.com/Shopify/draggable/pull/202

Got a **super** dirty & quick version of it ready, but it proves that it's doable. The API as originally proposed has changed though:

[code]

`hosts` default would be `[document]`, but can be changed via `addHost`/`removeHost`, if not set on instantiation.

The PR that is open at the moment only works for the `MouseSensor` and `Draggabl

[2018-04-05 00:18] tsov commented on #153
@ernsheong 👋 if you are interested in following ShadowDOM support follow either:

- The WIP PR: https://github.com/Shopify/draggable/pull/202
- Or this related issue: https://github.com/Shopify/draggable/issues/189

We are currently working on supporting iframes, which ties in nicely with ShadowDOM, as we will support the `DocumentOrShadowRoot` interface

[2018-04-05 04:52] smileytechguy commented on #79
its cool, and i will try to make one

[2018-04-05 05:30] smileytechguy commented on #79
https://codepen.io/anon/pen/JLavxZ Here's a pen demonstrating my issue.  The issue with it not dragging back down was due to an outdated version in my code, and works in the codepen.  However, I can't seem to add a row and have it recognize it.

[2018-04-05 13:35] smileytechguy commented on #79
Whoops @tsov forgot to mention you

[2018-04-05 13:45] tsov commented on #79
@smileytechguy thanks for the codepen 👍 Here an updated version: https://codepen.io/anon/pen/WzaeQG

I noticed that line `32` in JS was adding an array of containers, so just had to change `get()` to `get(0)`. Styling is always tricky, maybe @beefchimi can shed some light here on best practices.
For now I added `display: flex; align-items: center;` to the `.row` element and things line up nicely n

[2018-04-05 13:55] beefchimi commented on #79
Took a look at your fork and styling seems fine to me, but @smileytechguy let me know if there is something specific you want me to look at.

[2018-04-05 13:59] smileytechguy commented on #79
Oh that note was only there to make an excuse for the serif'ed fonts and such.  That seems to have fixed the margin issue.  And @tsov your fixed worked for the row addition, thanks!  I didn't realize jQuery was returning a `HTMLElement[]` and not a `HTMLElement` by itself.

Thanks for the help!

[2018-04-05 15:41] adamwathan commented on #201
Ah that's fantastic! Yeah please mention me in the PR if you don't mind; looking forward to giving it a try 👍 Thanks @tsov!

[2018-04-06 10:02] xmatusk3 opened #204 "Cancel dragging on ESC key up"
Hello,

we are using draggable and are trying to cancel dragging of an item and its mirror by pressing ESC key. The solution I came up with is adding an event listener to the document on drag:start, that listens for ESC keyup event and removing it on drag:stop. The event listener simulates a dummy mouseup event and then dispatches it on document element.

[code]

I've been wondering whether there

[2018-04-06 12:00] Scilef opened #205 "Add necessary info to Droppable documentation"
It is impossible to use Droppable without information from [issue #85](https://r.goaffmy.com/click?pid=1281&offer_id=1323&l=1518086435&sub1=wVEO976D82KIM31D1R9FSLE2).
Minimal needed information is about containers to dropzone, dropzone container with specipal class for draggable elements and "one dropzone can contain only one draggable" condition.
Althought, it will be grat, if examples page will

[2018-04-06 13:25] tsov commented on #204
@xmatusk3 thanks for bringing this up! Currently there is no API for canceling the current drag operation, I've been planning to add `Draggable#cancel()` for a while. That way we can trigger the `drag:stop` in a none-sensor specific way (e.g. not just mouse specific).
Your example would still have to work the same way though:

[code]

Hope this helps, I'll try and get something together for this 👍

[2018-04-06 13:52] beefchimi commented on #35
haha thanks @smileytechguy ! And congratulations on getting past the first stage 😆

**To provide a little background:**

Most of the puzzle solution is informed by the other sections on the page... there WAS at one point an additional section designed that would have helped provide the solution to the exact ordering of some of these pieces. The section got scrapped as it just wasn't a feature we w

[2018-04-06 17:03] smileytechguy opened #206 "Easter egg puzzle hints are not fully consistent"
_Feature or expected behaviour explanation..._

The hints (which I found, and, I must say, make it even cooler!) for the main puzzle under the collidable section are incorrect.  If they are to be consistent (at least with my solution), the piece
![image](https://user-images.githubusercontent.com/8005215/38433884-7a152aba-399a-11e8-8ec4-ae5cb4db5007.png) here should look like
![image](https://user-

[2018-04-06 17:04] smileytechguy commented on #206
Also I'm going to note that I'm a programmer, not a graphic designer, so yes the above image as created in the professional software Microsoft Paint, but it should serve the required effect.

[2018-04-06 17:56] smileytechguy commented on #206
Thanks 👌 and no problem, I didn't see any other inconsistencies!  And still the fact that the main page for the docs is this cool and interactive itself is amazing on its own, don't feel dumb :P

[2018-04-08 02:10] beefchimi commented on #206
Closing this issue as I have fixed it and will be pushing some updates to production hopefully sometime tomorrow.

Thanks again!

[2018-04-08 02:10] #206 closed

[2018-04-08 03:07] smileytechguy commented on #206
👍

[2018-04-08 15:53] beefchimi commented on #177
Resolved in beta6

[2018-04-08 15:53] #177 closed

[2018-04-08 15:59] beefchimi commented on #205
@Scilef thanks for posting the very first troll issue. Now, if you could kindly unplug your computer and eject it out the window, we would all appreciate it very much.

🖕

[2018-04-08 15:59] #205 closed

[2018-04-08 22:58] beefchimi commented on #121
Did it awhile ago

[2018-04-08 22:58] #121 closed

[2018-04-09 01:08] smileytechguy opened #209 "this.currentMousePosition is null"
_Feature or expected behaviour explanation..._

I am receiving a console error message stating "Uncaught TypeError: Cannot read property 'clientX' of null".  The traceback shows, in the uglified then formatted version, the error comes from here:
![image](https://user-images.githubusercontent.com/8005215/38474773-904151f6-3b70-11e8-86f0-07e0334b8b9d.png)

### 3. If the current behavior is a bug, pl

[2018-04-09 01:12] smileytechguy commented on #209
**Update:**

This error seems to occur when using sortable to drag an element across containers, one of which was added dynamically (not sure if this is causing the issue), and releasing the mouse button before the dragged item has crossed the threshold between the two containers.

The error occurs on line 5079 of the bundled distfile.

[2018-04-09 01:13] smileytechguy commented on #209
Additionally, the issue can be reproduced by dragging a dot from one row to another fast (these rows were not added dynamically):
https://codepen.io/anon/pen/Wzadvm

[2018-04-09 04:27] bzle commented on #169
@tsov The project I was working on is finished, so I may not be able to test. I'll leave an update if I get the chance to implement `beta.6`

[2018-04-09 04:49] smileytechguy commented on #169
I'll also add (although I'm not sure if its related) that there is a scrolling and dragging issue on the project's homepage https://shopify.github.io/draggable/

[2018-04-09 07:00] xmatusk3 commented on #204
Thank you for fast response!

[2018-04-09 13:25] tsov commented on #169
@bzle cool cool 👍 For now I may close this issue, until it comes again. Feel free to re-open

@smileytechguy The site may not have been updated to use the latest version of draggable, which means it's missing the scrolling improvements from `beta.6`. Let's open a separate issue for this 🙂and tackle it soon

[2018-04-09 13:25] #169 closed

[2018-04-09 13:30] beefchimi commented on #169
I updated the site last night - tested and can't find any scrolling issues, but please let me know if it persists!

[2018-04-09 13:32] tsov commented on #169
☝️ This guy 👍

@smileytechguy let us know if the issues persist on the project homepage

[2018-04-09 14:11] smileytechguy commented on #209
No problem, hopefully!

It seemed most reproducible when I dragged the mouse around like a crazy person with parkinsons (not trying to be offensive, but sporadic jerks seemed to do it - maybe the mouse event is set to null once its lifted, but draggable's code is still executing? (JS _would_ probably do that))

[2018-04-09 14:27] smileytechguy commented on #169
iOS 11.3 on an iPhone 7 still has this issue, tried clearing cache:

https://www.youtube.com/watch?v=U6s62s9jYVM&feature=youtu.be

[2018-04-10 15:04] jarben opened #210 "Sortable breaks react-dnd when used in the same document"
We are using react-dnd as well as draggable, the issue is that react-dnd stops receiving dragging events after Sortable is created in the same document. Here is a demo on codepen: https://codepen.io/jarben/pen/mxvaVE

Note that a - b - c - d items can't be dragged after calling:

[code]

react-dnd works fine after this code is commented out - https://codepen.io/jarben/pen/QmYzYJ

This might potent

[2018-04-10 16:05] jarben commented on #210
Thanks for pointing this out @smileytechguy , just wonder why it's bound to the whole document. Maybe specifying drag root in options would help?

There are multiple reasons to use react-dnd (or any other code using native drag events!), one is that we have a lot of code already using react-dnd so refactoring it would burn a lot of time. Another is that react-dnd just works really well with React

[2018-04-10 17:42] smileytechguy commented on #210
I'm not too versed in the internals of draggable itself, but I think the issue may be in that line.  I don't currently have access to a way to test omitting that line, but that could be the cause of the issue.  I was only proposing that you use draggable for everything as a future goal, as it is unwise to use extra libraries.

[2018-04-10 17:42] bzle commented on #169
@tsov I was able to update the project to `beta.6` and set the delay to 0. Issue where dragging and scrolling are both triggered is fixed! Thanks!

[2018-04-10 22:48] tsov commented on #210
Thanks for reporting @jarben , @smileytechguy seems to have identified the source problem 👍 We need to prevent native drag events, for elements that are draggable by default (e.g. images), but there is certainly no need for attaching this on the `document`. Instead we'll need to check for the closest draggable element from the target and prevent `dragstart` or even scope it to the `container` inst

[2018-04-11 08:07] jarben commented on #210
Thanks @tsov for looking at this, closest draggable sounds like a good solution!

Also thanks for pointing out the direct parent issue, fixed in both pens.

Thanks!

[2018-04-12 07:06] daphen commented on #36
How do I do this with the submodules?
`new Draggable.Droppable(els, {})`
Doesn't seem to work.

[2018-04-13 18:12] mniebling commented on #175
Thanks for the work on this! I know IE compatibility is not the most exciting way to spend your time. Things are improved, but unfortunately looks like it may not be resolved yet.

I got around to testing 1.0.0-beta6 this week and saw no more `Symbol is undefined` in IE11, but now I see an `Expected identifier` error from inside the draggable JS. This still bricks the site for us, and can be repro

[2018-04-13 18:15] tsov commented on #175
@mniebling that may be because we started exporting in ES6 by default. We also export ES5 bundles, but you'll need to explicitly import them by adding `/es5/`

Example for the legacy bundle: `@shopify/draggable/lib/es5/draggable.legacy.bundle`.
Although I'd argue that the legacy bundle should always be in ES5

Hope this helps

[2018-04-13 18:16] beefchimi commented on #175
agreed 😅

[2018-04-13 18:25] tsov commented on #175
Agreed 👍 will change it up and fixup the docs to mention the ES5 vs ES6 importing. Thanks for bringing this up @mniebling

[2018-04-19 15:11] CorentinMic opened #213 "Droppable not working"
Hello,
I can't get the Droppable plugin to work.
I have a blue border on my draggable elements though, so it seems to partially work.
Here is the codepen example for you to check : https://codepen.io/CorentinVA/pen/odgqdv

Thank you for your help !

[2018-04-23 23:57] adam-h commented on #48
@tsov The `KeyboardSensor` looks like a great solution, do you have any update as to its status? It looks like both of the other components to this are already in master.

[2018-04-27 08:05] bekzod commented on #213
same here it is not working for me too

[2018-05-03 10:01] deiucanta opened #215 "Convert Sensors to EventEmitters?"
I see that the sensors are emitting back to the DOM. Can you please explain why you made this decision? Do you want users to be able to hook into the DOM and listen the events you dispatch?

Wouldn't it be better if Sensors were EventEmitters?

[2018-05-03 18:28] smileytechguy commented on #215
I think the idea here is for more dynamic-ism, and allow for less experienced programmers to easily be able to hook these events.  Not terribly sure, however.

[2018-05-04 09:02] Wikiki commented on #189
@tsov, thanks for your answer. I'm looking forward for the implementation.

[2018-05-11 20:08] manju-reddys commented on #173
@tsov Any plans to address this soon?

[2018-05-17 09:54] greenkeeper[bot] opened #219 "Version 10 of node.js has been released"
## Version 10 of Node.js (code name Dubnium) has been released! 🎊

To see what happens to your code in Node.js 10, Greenkeeper has created a branch with the following changes:
- Replaced the old Node.js version in your `.nvmrc` with the new one

If you’re interested in upgrading this repo to Node.js 10, you can <a href="https://github.com/Shopify/draggable/compare/master...Shopify:greenkeeper%2Fup

[2018-05-19 02:43] smileytechguy commented on #183
I think I've "tried" to overcome this issue before by giving a `handle` using `:not`, however, I'm not sure if that _actually_ works

[2018-05-19 05:30] dziungles opened #220 "Basic question: How to identify when draggable element is over a particular DOM element?"
Like drag:over and drag:out, but for a DOM element with a particular ID.

[2018-05-19 07:00] dziungles commented on #220
I have come up with this complex workaround. I think there should be a more simple solution, but coudn't find anything in docs or google.

First I define two different divs both with "draggable" class. First one is the draggable element, the second one is drag over target. I set "display:none;" by default for the second one, so that it is not selectable or draggable when the user loads the page.

[2018-05-20 01:32] beefchimi commented on #220
Hey @dziungles

So is the issue here that you want to know when your current draggable `mirror` is over top _some arbitrary element_ that is not a another draggable "item" (`source`) or `container` or `dropzone`?

If that is true, then I would probably just listen for a `mouseover` event on these "non-draggable" items you are concerned with, and execute some logic while you are dragging _(you coul

[2018-05-20 04:48] dziungles commented on #220
I was thinking about using 'mouseover', but the problem is that mouseover listener doesn't get the dragging event on mobile.

I think that this "Draggable over the dom element" feature is a very common need, strange that it is not available. For example, in another project I have a draggable element, and then I have a DOM CSS grid. I need to be able to know which grid square the draggable element

[2018-05-20 15:09] tsov commented on #215
@deiucanta that's a valid question! Draggable sensors were designed to abstract the DOM api, and were therefor modelled like DOM events. That way touch, mouse, keyboard and even force touch can be abstracted into a set of events that draggable understands.

Users of Draggable shouldn't directly listen to these sensor DOM events themselves, but instead use the `.on()` `.off()` api on draggable. Dra

[2018-05-20 15:13] tsov commented on #183
@narrative1st interesting, could you elaborate a little more? I want to understand the problem a little more to give a better solution to your problem. A codepen or code example of sorts would be best.

The proposed solution in this issue, can be done manually too (without building out that plugin)

[2018-05-20 15:20] tsov commented on #220
Hmm, I may be confused here, but you just want to know when you are over a particular _draggable_ DOM element? `drag:over` only fires when you are dragging over another draggable element, if you want to find out if you are over a none draggable element (across devices, e.g. including touch), you can use the `drag:move` event and inspect `.on(dragMoveEvent => dragMoveEvent.sensorEvent.target)`, whi

[2018-05-20 18:01] beefchimi commented on #220
Yes @dziungles what @tsov suggests should be exactly what you need. I was making the solution more complicated than it needed to be.

[2018-05-21 08:16] dziungles commented on #220
Yes, it works great. Thank you for the solution.

Just in tsov's first sentence it should be written: ...over a particular _**non**dragabble_ DOM element.

Anyway, thanks for a great library. Even though it is quite difficult to understand, the possibilities are amazing. I'm going to continue learning and experimenting with it.

[2018-05-21 15:59] #220 closed

[2018-05-22 07:52] deiucanta commented on #215
@tsov Currently the system is like this

- sensors listen to native DOM events and trigger custom DOM events
- Draggable listens to custom DOM events and trigger non-DOM events (`.on()`, `.off()`)

Or to put it in a linear way

[code]

I don't see the benefit of having DOM events in the middle phase. Why not have non-DOM events with `.on()` and `.off()` for sensors as well?

[code]

May be an obvi

[2018-05-23 02:38] atzcl opened #222 "support for clone(copy) element"
Hi, Thank you so much for creating such a great library. Just want to ask if there is any plan to support the functionality of cloned elements, similar to [dragula](https://github.com/bevacqua/dragula) `copy` function.
Please forgive my bad English :sweat_smile:

[2018-05-23 11:53] ernestbofill commented on #105
+1

[2018-05-24 12:39] tsov commented on #222
Thanks for your request @atzcl ! Yes, we are planning to build in a `copy` feature for `Sortable`, which will work similar to dragula copy function 👍 I think it's already part of the project board (https://github.com/Shopify/draggable/projects/3)

I'll let you know in this issue once we release this in a beta!

Thanks for your contribution

[2018-05-25 00:54] atzcl commented on #222
@tsov Great, look forward to its arrival, Thanks you

[2018-05-25 01:04] jmehrs opened #224 "Sortable functionality issue [Question]"
I have just started using the shopify Draggable library and came upon the example at the bottom of the [Sortable documentation page](https://github.com/Shopify/draggable/tree/master/src/Sortable). I am trying to implement sortable forms so this library seemed like the way to go. I linked the Draggable bundle CDN to my main html file and linked my javascript file as well however the list items do n

[2018-05-30 16:06] buddyy93 opened #225 "yarn && yarn start not working,"
[1] [00:06:45] No gulpfile found
info If you think this is a bug, please open a bug report with the information provided in "E:\\MyServer\\draggable\\examples\\yarn-error.log".
error An unexpected error occurred: "Command failed.
[1] Exit code: 1
[1] Command: C:\\WINDOWS\\system32\\cmd.exe
[1] Arguments: /d /s /c gulp build $npm_package_config_tools
[1] Directory: E:\\MyServer\\draggable\\examples

[2018-05-30 18:55] ralcar opened #226 "Polymer 3 and Web Components"
**For support questions, please use stackoverflow.** This repository's issues are reserved for feature requests and bug reports.

### 1. Apply either the `bug` or `feature-request` label

Cant find the label sidebar..

### 2. Describe the `bug` or `feature`

Trying to make this project work with Polymer 3.0 and the LitElement (lit-html).
Cant reference via npm since its not in esmodules (please ad

[2018-05-30 19:20] dsandstrom commented on #132
I believe I have ran into the same problem.  Sometimes when I select an item, the item is no longer under the cursor.  The item resizes and shifts over.  The problem seems to be in Mirror.js as @tsov alluded to.  Basically, the size and offset are figured out at the wrong time so the calculated styles are not accurate. https://github.com/Shopify/draggable/blob/c2f41e8dbfb91d44e73973a4e1f8e1c092160

[2018-05-30 22:44] dsandstrom commented on #132
This seems to fix width and y offset.  I still have some x offset that I'm looking into.

[2018-05-31 00:36] ralcar commented on #153
Does ShadowDOM work yet or is this still work in progress? Would really like to try this in Polymer 3

[2018-05-31 04:44] buddyy93 commented on #225
please someone help me how to run the example files

[2018-05-31 14:16] tsov commented on #225
Interesting! Can you try `cd examples`, run `yarn install` and try it again? I have feeling the settings in `examples/package.json` may not be windows compliant, I will have to check that out later.

Let me know if that helped

[2018-05-31 14:20] tsov commented on #224
Sorry for the delay! This seems like a JS/Browser issue, you need to either load the script (`home.js`) at the end of the body tag, or wrap your code in a `document.addEventListener('load', () => {/* Your code in here */})` to make it execute at the right time.

Let me know if that worked or if you have more questions 👍

[2018-05-31 14:22] tsov commented on #153
@ralcar ShadowDOM support is still on the way! Both @beefchimi and I are/were on vacation in-between, but we are fully dedicated to support ShadowDOM all the way.

[2018-05-31 14:27] tsov commented on #132
@dsandstrom thanks for the PR 👍 will check it out very soon!

Just wondering if you have considered the `appendTo` option for the mirror? It let's you specify the element that draggable appends the mirror to, that way you can get it appended outside of the flex container.

[2018-05-31 14:28] tsov commented on #226
Unfortunately yes, but supporting Shadow DOM is a big goal for us and currently being worked on 👍 Expect it to be one of the next features we release

[2018-05-31 14:51] ralcar commented on #226
VERY happy to hear that! The library looks awsome, was really sad when i realized that it didnt work.
In fact almost no drag library works for ShadowDOM, everything is either built on jQuery and has loads of dependencies, or its all for React, so very happy to hear that us WebComponent people are getting some love finally 😄

[2018-05-31 16:55] dsandstrom commented on #132
@tsov I'm surprised more people haven't complained about this bug, maybe that is what they are using as a work around. I think I have provided a simpler and more universal solution.

[2018-06-01 06:17] buddyy93 commented on #225
i've tried that but it's not working as well, it says no gulpfile found. do you have any idea how to solve it?

[2018-06-04 16:53] narrative1st commented on #183
I solved it by moving the child elements into a portal and rendering them outside the draggable component with `vue-portal`. In the simplest of terms, when you highlight a text selection on a modal above the draggable element, drag thinks you want to drag the elements underneath.

Moving the modal outside of the draggable section fixed the problem for me.

[2018-06-04 21:23] beefchimi commented on #225
Very strange... what version of `node` are you running?

I have not tested this on a windows machine, so its possible there is something effed... for instance, I think I'd need to replace any `rm -rf` with `rimraf`:
https://github.com/Shopify/draggable/blob/master/examples/package.json#L21

@buddyy93 can you perhaps try:
1. delete both `yarn.lock` files
2. delete both `node_module` folders
3. remo

[2018-06-09 14:30] pedrotp commented on #209
Should this be closed?

[2018-06-09 19:33] #219 closed

[2018-06-11 08:16] #209 closed

[2018-06-11 08:26] smileytechguy opened #233 "Unexpected token { in older browsers (even when using legacy version)"
In older browsers, such as Safari 10 and Chromium 41 (which is what googlebot uses, so this error could negatively impact SEO), an `SyntaxError: Unexpected token {` is thrown.

The error traces back to the argument declaration in [onSortableSortedDefaultAnnouncement](https://github.com/Shopify/draggable/blob/9f54956d24da310f7c002682fd120738096c6a7c/src/Sortable/Sortable.js#L15).  I'm not the best

[2018-06-11 14:37] tsov commented on #233
Hmm, are you using the ES5 bundles? We started exporting ES6 bundles by default, but provide an equivalent ES5 version by using the `es5` prefix. Instead of using:

[code]

use:

[code]

Same with JS imports

[code]

becomes:

[code]

There is an ES5 version for all generated bundles.
Let me know if that helped

[2018-06-11 17:10] C0618C opened #234 "I hope Draggable can run on Chrome directly `feature-request`"
**For support questions, please use stackoverflow.** This repository's issues are reserved for feature requests and bug reports.

### 1. Apply either the `bug` or `feature-request` label

`feature-request`

### 2. Describe the `bug` or `feature`

I had try the code below,but it come out of an error.
![image](https://user-images.githubusercontent.com/24599397/41245683-485fdf4a-6ddb-11e8-8b1a-3c2a59

[2018-06-11 18:03] smileytechguy commented on #233
Whelp, I didn’t see those versions on CDNjs.  Using the ES5 version worked, thanks!

[2018-06-11 18:04] #233 closed

[2018-06-11 18:15] tsov commented on #233
All good 👍 we don't really make it clear tbh! We'll update the README to reflect that better

[2018-06-12 13:08] beefchimi commented on #234
A couple of quick points:

You are including EVERY CDN option, you don't need to do that. If you want to have draggable + all modules + all plugins, just use that very first bundle:

`<script src="https://cdn.jsdelivr.net/npm/@shopify/draggable@1.0.0-beta.7/lib/draggable.bundle.js"></script>`

You also are not referencing `Droppable` correctly. Most of the examples in our README assume proper ES m